{% extends "base.html" %}

{% block breadcrumbs %}
<a href="/">{{ block.super }}</a> &#187; Logged Out
{% endblock %}

{% block content %}

	<h3>LOGGED OUT</h3>
	<div class="bordered padded yellow">
		You have been successfully logged out.
	</div>

{% endblock %}
