{% extends "base.html" %}
{% load url from future %}

{% block content %}

	{% if next %}<div class="bordered padded yellow">
		You must be logged in to access this part of the site.
	</div>{% endif %}

	<div class="left half">
		<h4>EXISTING USER LOGIN</h4>
		<div class="bordered padded yellow grad" style="height: 150px;">{% if form.has_errors %}
			<p style="color: #900; font-weight: bold; text-align: center; margin-bottom: 8px;">Authentication Error. Please try again.</p>{% endif %}
			<form action="." method="post">
				{% csrf_token %}
				<p>Email address:<br />
				<input type="text" id="id_username" class="text" name="username" /></p>
				<p>Password:<br />
				<input type="password" id="id_password" class="text" name="password" /></p>
				<input type="image" src="{{ STATIC_URL }}images/login.gif" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
		</div>
	</div>

	<div class="left half">
		<h4>FORGOT YOUR PASSWORD?</h4>
		<div class="bordered padded yellow grad" style="height: 150px;">
			<p>Type in your email address below and a new password will be emailed to you.</p>
		
			<form action="{% url 'accounts:password_reset' %}" method="post">
				{% csrf_token %}
				<p>Email Address<br />
				<input type="text" id="id_email" class="text" name="email" /></p>
				<input type="image" src="{{ STATIC_URL }}images/submit-btn.gif" />
			</form>
		</div>
	</div>

	<div class="clear"></div>

	{% url 'accounts:register' as register_url %}
	{% if register_url %}
		<div class="bordered padded yellow grad">
			<p>If you don't already have an account on this site, you can <a href="{{ register_url }}">register now</a>.</p>
		</div>
	{% endif %}
{% endblock %}
