{% extends "base.html" %}

{% block content %}

	<h3>CHANGE PASSWORD</h3>
	<div class="bordered padded yellow">

		<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify that you have typed it in correctly.</p>

		<form action="." method="post">
			{% csrf_token %}

			{% if form.old_password.errors %}
			<p class="error major">{{ form.old_password.errors.0 }}</p>
			{% endif %}

			{% if form.new_password1.errors %}
			<p class="error major">{{ form.new_password1.errors.0 }}</p>
			{% endif %}
	
			{% if form.new_password2.errors %}
			<p class="error major">{{ form.new_password2.errors.0 }}</p>
			{% endif %}
	
			<table>
				<tr>
					<td><b>Old password:</b></td>
					<td>{{ form.old_password }}</td>
				</tr>
				<tr>
					<td><b>New password:</b></td>
					<td>{{ form.new_password1 }}</td>
				</tr>
				<tr>
					<td><b>Confirm new password:</b></td>
					<td>{{ form.new_password2 }}</td>
				</tr>
			</table>

			<p><input type="image" src="{{ STATIC_URL }}images/submit-btn.gif" /></p>
		</form>
	</div>

{% endblock %}
