{% extends "base.html" %}
{% load i18n %}

{% block page_title %} - {% trans "Password reset" %}{% endblock %}

{% block content %}
	<h3>{% block title %}{% trans "Password reset" %}{% endblock %}</h3>
	<div class="bordered padded yellow">
		<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

		<form action="" method="post">
			{% csrf_token %}
			{{ form.email.errors }}
			<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
		</form>
	</div>
{% endblock %}
