{% extends "base_accounts.html" %}

{% block page_title %}
{{ block.super }} &#187; Contact Information
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="..">My Account</a> &#187; Contact Information
{% endblock %}

{% block content %}
{{ block.super }}

	<div class="bordered padded yellow" id="accounts">
		<form action="." method="post">
			{% csrf_token %}
			<fieldset>
				{{ form.as_p }}
			</fieldset>
			<p><input type="image" src="{{ STATIC_URL }}images/submit-btn.gif" /></p>
		</form>
	</div>

{% endblock %}
