{% extends "base_accounts.html" %}

{% block current_poll %}
<!-- sign up page, hide the poll -->
{% endblock %}

{% block page_title %}
{{ block.super }} &#187; Contact Information
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="..">My Account</a> &#187; Contact Information
{% endblock %}

{% block content %}
{{ block.super }}

{% if form.errors %}
	<div class="bordered padded white">
		<h5>There are errors in your form below.</h5>
		{{ form.errors }}
	</div>{% endif %}

	<div class="bordered padded yellow" id="accounts">
		<form action="" method="post">
			{% csrf_token %}
			<fieldset>
				<p><label>Username:</label><input type="text" value="{{ user }}" disabled /></p>

				<p><label for="id_first_name">{{ form.first_name.label }}:</label>
				{{ form.first_name }}{% if form.first_name.errors %}
				<span class="error">{{ form.first_name.errors|join:"; " }}</span>{% endif %}</p>

				<p><label for="id_last_name">{{ form.last_name.label }}:</label>
				{{ form.last_name }}{% if form.last_name.errors %}
				<span class="error">{{ form.last_name.errors|join:"; " }}</span>{% endif %}</p>

				<p><label for="id_email">{{ form.email.label }}:</label>
				{{ form.email }}{% if form.email.errors %}
				<span class="error">{{ form.email.errors|join:"; " }}</span>{% endif %}</p>
			</fieldset>

			<p><input type="image" src="{{ STATIC_URL }}images/submit-btn.gif" alt="Submit" /></p>
		</form>
	</div>

{% endblock %}

