{% extends "base.html" %}

{% block current_poll %}
<!-- sign up page, hide the poll -->
{% endblock %}

{% block content %}
	<h3>NEW USER REGISTRATION</h3>
{% if form.errors %}
	<div class="bordered padded white">
		<h5>There are errors in your form below.</h5>
	</div>{% endif %}

	<div class="bordered padded yellow">
		<table>
			<tbody>
				<tr>
					<td>
						<form action="" method="post">
							{% csrf_token %}
							<p><label for="id_first_name">{{ form.first_name.label }}</label><br />
							{{ form.first_name }}</p>{% if form.first_name.errors %}
							<p style="color: red;">{{ form.first_name.errors|join:"; " }}</p>{% endif %}

							<p><label for="id_last_name">{{ form.last_name.label }}</label><br />
							{{ form.last_name }}</p>{% if form.last_name.errors %}
							<p style="color: red;">{{ form.last_name.errors|join:"; " }}</p>{% endif %}

							<p><label for="id_username">{{ form.username.label }}</label><br />
							{{ form.username }}</p>{% if form.username.errors %}
							<p style="color: red;">{{ form.username.errors|join:"; " }}</p>{% endif %}

							<p><label for="id_email">{{ form.email.label }}</label><br />
							{{ form.email }}</p>{% if form.email.errors %}
							<p style="color: red;">{{ form.email.errors|join:"; " }}</p>{% endif %}

							<p><label for="id_password1">{{ form.password1.label }}</label><br />
							{{ form.password1 }}</p>{% if form.password1.errors %}
							<p style="color: red;">{{ form.password1.errors|join:"; " }}</p>{% endif %}

							<p><label for="id_password2">{{ form.password2.label }}</label><br />
							{{ form.password2 }}</p>{% if form.password2.errors %}
							<p style="color: red;">{{ form.password2.errors|join:"; " }}</p>{% endif %}
							<p><small><em>In the event that you forget your password, you can request that it be reset.</em></small></label></p>

							<p><input type="image" src="{{ STATIC_URL }}images/login.gif" alt="Login" /></p>
						</form>
					</td>
					<td>
						<h5>Did You Know?</h5>
						<p>You will receive a confirmation email with a link to a page that you will need to visit
						in order to activate your account within the next 72 hours.<br />
						<strong>Notice: Account preferences are cookie based.</strong></p>
						<p>As registered users you can:</p>
							<ul class="bulleted-list">
								<li>Post comments</li>
								<li>Vote in online polls</li>
								<li>Respond to questionaires</li>
								<li>Update your contact details</li>
								<li>Receive automatic match reminders</li>
							</ul>
						<p><strong>We do <em>not</em> give or sell your personal information to third parties.</strong></p>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

{% endblock %}

