{% extends "base_accounts.html" %}

{% block current_poll %}
<!-- sign up page, hide the poll -->
{% endblock %}

{% block page_title %}
{{ block.super }} &#187; Group Subscriptions
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="..">My Account</a> &#187; Group Subscriptions
{% endblock %}

{% block content %}
{{ block.super }}

{% if form.errors %}
	<div class="bordered padded white">
		<h5>There are errors in your form below.</h5>
		{{ form.errors }}
	</div>{% endif %}

	<div class="bordered padded yellow" id="accounts">
		<p>As a registered user you are able to join a number of groups that will enable you
		to receive information from {{ site.name }} from time to time.</p>
		<p>Use the form below you to manage your subscriptions.</p>

		<form action="" method="post">
			{% csrf_token %}
			<table width="100%">
				<thead>
					<tr>
						<td><h5>Managed Subscriptions</h5></td>
						<td><h5>Assigned Subscriptions</h5></td>
					</tr>
				</thead>
				<tbody>
					<tr valign="top">
						<td class="nobullets">
{{ form.memberof|safe }}
						</td>
						<td class="nobullets">
<ul>{% for mg in user.mailgroups.all %}{% if not mg.managed %}
<li><label><input checked="checked" type="checkbox" disabled> {{ mg }}</label></li>{% endif %}{% endfor %}
</ul>
						</td>
					</tr>
					<tr colspan="2">
						<td>
							<p><input type="image" src="{{ STATIC_URL }}images/submit-btn.gif" alt="Submit" /></p>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>

{% endblock %}

