{% load mptt_tags %}
<ul class="navigation">
{% for node, structure in nodes|tree_info %}
	{% if node.level == 0 %}
		{% if node.get_children %}
			<li class="header">{{ node.title|upper }}</li>
		{% endif %}
	{% elif node.parent.get_children %}
		<li class="link{% if node == current_node %} current{% endif %}"><a href="{{ node.get_absolute_url }}">{{ node.short_title|default:node.title }}</a></li>
	{% endif %}
{% endfor %}
</ul>
