<form action="{{ PAYPAL_URL }}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="cmd" value="_cart" />
	<input type="hidden" name="upload" value="1" />
	<input type="hidden" name="business" value="{{ PAYPAL_RECEIVER_EMAIL }}" />
	<input type="hidden" name="page_style" value="SydneyUniTouch" />

	<!-- invoice tracking -->
	<input type="hidden" name="invoice" value="{{ order }}" />
	<input type="hidden" name="custom" value="{{ order.id }}" />

	<!-- add individual items -->
	{% for item in object_list %}
		<input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ item.product }}" />
		<input type="hidden" name="amount_{{ forloop.counter }}" value="{{ item.price_excluding_tax_ea|floatformat:2 }}" />
		<input type="hidden" name="tax_{{ forloop.counter }}" value="{{ item.tax_amount_ea|floatformat:2 }}" />
		{% if item.size %}
			<input type="hidden" name="on0_{{ forloop.counter }}" value="Size" />
			<input type="hidden" name="os0_{{ forloop.counter }}" value="{{ item.size }}" />
		{% endif %}
		<input type="hidden" name="quantity_{{ forloop.counter }}" value="{{ item.quantity }}" />
	{% endfor %}

	<!-- currency and shipping total -->
	<input type="hidden" name="currency_code" value="{{ PAYPAL_CURRENCY_CODE }}" />
	<input type="hidden" name="shipping" value="{{ order.shipping }}" />

	<!-- urls for bouncing around -->
	<input type="hidden" name="notify_url" value="http://{{ site.domain }}{% url cart:paypal-notification order.id,order.checksum %}" />
	<input type="hidden" name="return" value="http://{{ site.domain }}{% url cart:order order.id,order.checksum %}" />
	<input type="hidden" name="cancel_return" value="http://{{ site.domain }}{% url cart:order order.id,order.checksum %}" />

	<input type="image" title="Pay with PayPal" src="{{ STATIC_URL }}images/x-click-but6.gif" />
</form>
