{% extends "touchtechnology/cart/base.html" %}
{% load url from future %}
{% load core %}

{% block content %}
	<h3>SHOPPING CART</h3>
	<div class="bordered padded yellow grad">
		<p>Listed below are the items in your shopping cart. To remove an item, adjust it's quantity to zero.</p>
		<p>When you are satisfied with your order, you can proceed to the checkout stage.</p>
	</div>
	<div class="bordered padded white cart">
		<form action="" method="post">
			{% csrf_token %}
			{{ formset.management_form }}
			<table>
				<thead>
					<tr>
						<td colspan="2">&nbsp;</td>
						<th class="quantity">Qty</th>
						<th class="price">Ex. GST</th>
						<th class="price">GST</th>
						<th class="price">Inc. GST</th>
					</tr>
				</thead>
				<tbody>
					{% for form in formset.forms %}
						{% with form.instance as item %}
							<tr class="item {% cycle "odd" "even" %}">
								<td class="picture"><a href="{% url 'shop:product-detail' item.product.slug %}"><img src="{{ item.product.image_small.url }}" alt="{{ item.product.name }}" /></a></td>
								<td>
									<span class="name">{{ item.product.name }}</span>
									{% if item.size %}
										<span class="size"><strong>Size:</strong> {{ item.size }}</span>
									{% endif %}
								</td>
								<td class="quantity">{% field form.quantity "" %} {% field form.id %}</td>
								<td class="price">${{ item.price_excluding_tax|floatformat:2 }}</td>
								<td class="price">${{ item.tax_amount|floatformat:2 }}</td>
								<td class="price">${{ item.price_including_tax|floatformat:2 }}</td>
							</tr>
						{% endwith %}
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"></td>
						<td class="quantity">{{ totals.quantity }}</td>
						<td class="price">${{ totals.excluding_tax|floatformat:2 }}</td>
						<td class="price">${{ totals.tax_amount|floatformat:2 }}</td>
						<td class="price">${{ totals.including_tax|floatformat:2 }}</td>
					</tr>
				</tfoot>
			</table>

			<div class="buttons">
				<a href="{% url 'shop:product-list' %}">
					<img src="{{ STATIC_URL }}images/famfamfam/picture.png" alt="" />
					Back to Products
				</a>
				<button type="submit">
					<img src="{{ STATIC_URL }}images/famfamfam/cart.png" alt="" />
					Update Cart
				</button>
				<a href="{% url 'cart:checkout' %}" class="positive">
					<img src="{{ STATIC_URL }}images/famfamfam/cart_go.png" alt="" />
					Checkout
				</a>
			</div>

			<div class="clear"></div>
		</form>
	</div>
{% endblock %}
