{% extends "touchtechnology/cart/base.html" %}
{% load core %}

{% block cart %}{% endblock %}

{% block content %}
	<h3>CHECKOUT</h3>
	<div class="bordered padded yellow grad">
		<p>Before we confirm this order, we need you to provide us with your email address so that we can send you a copy of your order.</p>
		<p>Once you confirm the order on this page, you will be take to a page where you can make payment with PayPal.</p>
		<p>If you decide that you wish to add more items, or change quantities, please do so before confirming the order.</p>
	</div>
	<form action="" method="post">
		{% csrf_token %}
		<div class="bordered padded white">
			{% for f in form %}
				{% field f %}
			{% endfor %}
		</div>
		<div class="bordered padded white cart">
			<table>
				<thead>
					<tr>
						<td colspan="2">&nbsp;</td>
						<th class="quantity">Qty</th>
						<th class="price">Ex. GST</th>
						<th class="price">GST</th>
						<th class="price">Inc. GST</th>
					</tr>
				</thead>
				<tbody>
					{% for item in object_list %}
							<tr class="item {% cycle "odd" "even" %}">
								<td class="picture"><a href="{% url shop:product-detail item.product.slug %}"><img src="{{ item.product.image_small.url }}" alt="{{ item.product.name }}" /></a></td>
								<td>
									<span class="name">{{ item.product.name }}</span>
									{% if item.size %}
										<span class="size"><strong>Size:</strong> {{ item.size }}</span>
									{% endif %}
								</td>
								<td class="quantity">{{ item.quantity }}</td>
								<td class="price">${{ item.price_excluding_tax|floatformat:2 }}</td>
								<td class="price">${{ item.tax_amount|floatformat:2 }}</td>
								<td class="price">${{ item.price_including_tax|floatformat:2 }}</td>
							</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"></td>
						<td class="quantity">{{ totals.quantity }}</td>
						<td class="price">${{ totals.excluding_tax|floatformat:2 }}</td>
						<td class="price">${{ totals.tax_amount|floatformat:2 }}</td>
						<td class="price">${{ totals.including_tax|floatformat:2 }}</td>
					</tr>
				</tfoot>
			</table>

			<div class="buttons">
				<a href="{% url cart:items %}">
					<img src="{{ STATIC_URL }}images/famfamfam/cart.png" alt="" />
					Back to Cart
				</a>
				<button type="submit">
					<img src="{{ STATIC_URL }}images/famfamfam/money.png" alt="" />
					Confirm Order
				</button>
			</div>

			<div class="clear"></div>
		</div>
	</form>
{% endblock %}
