<p>Thank you for placing your order with <strong>{{ site.name }}</strong>.</p>

<p>To view the order and make payment, please visit <a href="http://{{ site.domain }}{{ order.get_absolute_url }}">http://{{ site.domain }}{{ order.get_absolute_url }}</a></p>

<table>
<tr>
	<th align="left">Item</th>
	<th align="left">Size</th>
	<th>Qty</th>
	<th align="right">Price</th>
</tr>
{% for item in order.items.all %}
<tr>
	<td width="250px">{{ item.product }}</td>
	<td width="200px">{{ item.size|default_if_none:"&nbsp;" }}</td>
	<td width="50px" align="center">{{ item.quantity }}</td>
	<td width="100px" align="right">${{ item.price_including_tax|floatformat:2 }}</td>
</tr>
{% endfor %}
</table>

<p>You will receive an email from PayPal once you complete payment, and your order status will be updated.</p>

<p>Thanks,<br />
{{ site.name }}</p>
