{% extends "touchtechnology/cart/base.html" %}
{% load cart core %}

{% block content %}
	<h3>ORDER DETAIL</h3>
	<div class="bordered padded white cart">
		<h1>{{ order }}</h1>
		<table>
			<thead>
				<tr>
					<th>Product</th>
					<th class="quantity">Qty</th>
					<th class="price">Ex. GST</th>
					<th class="price">GST</th>
					<th class="price">Inc. GST</th>
				</tr>
			</thead>
			<tbody>
				{% for item in object_list %}
					<tr class="item {% cycle "odd" "even" %}">
						<td>
							<span class="name">{{ item.product }}</span>
							{% if item.size %}
								<span class="size"><strong>Size:</strong> {{ item.size }}</span>
							{% endif %}
						</td>
						<td class="quantity">{{ item.quantity }}</td>
						<td class="price">${{ item.price_excluding_tax|floatformat:2 }}</td>
						<td class="price">${{ item.tax_amount|floatformat:2 }}</td>
						<td class="price">${{ item.price_including_tax|floatformat:2 }}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td rowspan="4">{% if order.outstanding %}{% spaceless %}{% paypal %}{% endspaceless %}{% endif %}</td>
					<th>Subtotal</th>
					<td class="price">${{ order.price_excluding_tax|floatformat:2 }}</td>
					<td class="price">${{ order.tax_amount|floatformat:2 }}</td>
					<td class="price">${{ order.price_including_tax|floatformat:2 }}</td>
				</tr>
				<tr>
					<th>Shipping</th>
					<td class="price">&nbsp;</td>
					<td class="price">&nbsp;</td>
					<td class="price">${{ order.shipping|floatformat:2 }}</td>
				</tr>
				<tr>
					<th>Paid</th>
					<td class="price">&nbsp;</td>
					<td class="price">&nbsp;</td>
					<td class="price">${{ order.paid|floatformat:2 }}</td>
				</tr>
				<tr>
					<th>Total Due</th>
					<td class="price">&nbsp;</td>
					<td class="price">&nbsp;</td>
					<td class="price">${{ order.outstanding|floatformat:2 }}</td>
				</tr>
			</tfoot>
		</table>
	</div>
{% endblock %}
