{% extends "tournamentcontrol/competition/_division.html" %}
{% load url from future %}
{% load common competition %}

{% block content %}
	<h3>{% block title %}{{ division.title|upper }}{% endblock %}</h3>

	{% for stage, pools in parent.ladders.items %}
		{% if pools %}
			<div id="stage_{{ stage.pk }}" class="bordered padded yellow grad">
				{% if stage.pool_count %}
					{% include "tournamentcontrol/competition/ladder/pool.html" %}
				{% else %}
					{% include "tournamentcontrol/competition/ladder/standard.html" %}
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}


{% for current_stage, dates in parent.matches_by_date.items %}
	<h3>{% block stage_title %}{{ current_stage.title|upper }}{% endblock %}</h3>
	<div class="bordered padded white">
		{% for datetime, matches in dates.items %}
			<h5>{{ datetime|date }}</h5>
			<table class="upcoming-games">
				<tbody>
					{% for match in matches %}
							<tr class="{% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last{% endif %}">
								<td class="label">
									{% ifchanged %}
										{% if match.label %}
											{{ match.label }}
										{% else %}
											{% if not match.is_final %}
												Round {{ match.round|default:forloop.parentloop.counter }}
											{% endif %}
										{% endif %}
									{% endifchanged %}
								</td>
								{% if match.is_bye %}
									<td class="time">&nbsp;</td>
									<td class="field">&nbsp;</td>
								{% else %}
									{% if not match.is_forfeit %}
										<td class="time">{{ match.datetime|time:"g:i A"|default:"TBA" }}</td>
										<td class="field">{{ match.play_at.title|default:"TBA" }}</td>
									{% else %}
										<td class="time">Forfeit</td>
										<td class="field"></td>
									{% endif %}
								{% endif %}

								<td class="team team-1 right {{ match.home_team.club.slug|cssify }}">
									{% if match.home_team %}
										{% url application.name|add:":team" competition.slug season.slug division.slug match.home_team.slug as url1 %}
										{% url application.name|add:":team" season.slug division.slug match.home_team.slug as url2 %}
										{% url application.name|add:":team" division.slug match.home_team.slug as url3 %}
										<a href="{{ url1|default:url2|default:url3 }}">{{ match.home_team.title }}</a>
									{% else %}
										{{ match.get_home_team.title }}
									{% endif %}
								</td>

								<td class="score center">{{ match.home_team_score|default_if_none:"-" }}</td>
								<td class="versus vs center">vs</td>
								<td class="score center">{{ match.away_team_score|default_if_none:"-" }}</td>

								<td class="team team-2 left {{ match.away_team.club.slug|cssify }}">
									{% if match.away_team %}
										{% url application.name|add:":team" competition.slug season.slug division.slug match.away_team.slug as url1 %}
										{% url application.name|add:":team" season.slug division.slug match.away_team.slug as url2 %}
										{% url application.name|add:":team" division.slug match.away_team.slug as url3 %}
										<a href="{{ url1|default:url2|default:url3 }}">{{ match.away_team.title }}</a>
									{% else %}
										{{ match.get_away_team.title }}
									{% endif %}
								</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endfor %}
	</div>
{% endfor %}

{% endblock %}
