{% load url from future %}
{% load common %}

<h4>{% filter upper %}Upcoming Match{{ matches|pluralize:"es" }} - {{ season.title }}{% endfilter %}</h4>

<div class="padded bordered yellow grad">
	<h5>{{ next_game_date|date }}</h5>
	<table class="upcoming-games full">
		<tbody>
			{% for match in matches %}
				{% with stage=match.stage division=match.stage.division pool=match.stage_group home=match.get_home_team away=match.get_away_team %}
					<tr class="{% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last{% endif %}">
						<td>
							<a href="{% url 'competition:division' competition=division.season.competition.slug season=division.season.slug division=division.slug %}">{{ division.title }}</a>
						</td>
						<td>{{ match.time|time:"g:i"|default:"TBA" }}</td>
						<td>{{ match.play_at.title|default:"TBA" }}</td>
						{% spaceless %}
							<td class="right team {{ home.club.slug|cssify }}">
								{% if home.slug %}
									<a href="{% url 'competition:team' competition=home.division.season.competition.slug season=home.division.season.slug division=home.division.slug team=home.slug %}">{{ home.title }}</a>
								{% else %}
									<span>{{ home.title }}</span>
								{% endif %}
							</td>
						{% endspaceless %}
						<td class="versus center">vs</td>
						{% spaceless %}
							<td class="team {{ away.club.slug|cssify }}">
								{% if away.slug %}
									<a href="{% url 'competition:team' competition=away.division.season.competition.slug season=away.division.season.slug division=away.division.slug team=away.slug %}">{{ away.title }}</a>
								{% else %}
									<span>{{ away.title }}</span>
								{% endif %}
							</td>
						{% endspaceless %}
					</tr>
				{% endwith %}
			{% empty %}
				<tr>
					<td>Sorry, there are no upcoming games scheduled.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
