{% extends "tournamentcontrol/competition/_season.html" %}
{% load url from future %}
{% load humanize %}

{% block page_title %} &#187; {{ season.title }}{% endblock %}

{% block content %}
	<h3>{{ season.title|upper }}</h3>

	<div class="bordered padded yellow grad">
		<p>The {{ season.title }} competition commences <strong>{{ season.start_date|naturalday:"l jS F, Y" }}</strong> and concludes <strong>{{ season.matches.reverse.0.date|naturalday:"l jS F, Y" }}</strong>.</p>
		{% for division in season.divisions.all %}
			{% url application.name|add:':division' competition.slug season.slug division.slug as url1 %}
			{% url application.name|add:':division' season.slug division.slug as url2 %}
			{% url application.name|add:':division' division.slug as url3 %}
			<h5><a href="{{ url1|default:url2|default:url3 }}">{{ division.title }}</a></h5>
			<ul>
				{% for team in division.teams.all|dictsort:"title" %}
					{% url application.name|add:':team' competition.slug season.slug division.slug team.slug as url1 %}
					{% url application.name|add:':team' season.slug division.slug team.slug as url2 %}
					{% url application.name|add:':team' division.slug team.slug as url3 %}
					<li><a href="{{ url1|default:url2|default:url3 }}">{{ team.title }}</a></li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>
{% endblock %}
