{% extends "tournamentcontrol/competition/_team.html" %}
{% load url from future %}
{% load competition %}

{% block content %}
	<h3>SEASON DRAW &amp; RESULTS</h3>

	<div class="bordered padded white">
		<h5>{{ team.title }}</h5>
		<table class="upcoming-games full draw">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Venue</th>
					<th>Opponent</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				{% for match in team.matches %}
					{% with home=match.get_home_team away=match.get_away_team %}
						<tr class="{% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last{% endif %}">
							<td class="date"><span>{{ match.date|date:"jS M, Y"|default:"TBA" }}</span></td>
							{% if match.is_bye %}
								<td></td>
								<td></td>
								<td><span>Bye</span></td>
							{% else %}
								<td class="time">{{ match.time|time|default:"TBA" }}</td>
								<td class="venue">{{ match.play_at.title|default:"TBA" }}</td>
								{% with match|opponent:team as opponent %}
									{% include "tournamentcontrol/competition/_team_opponent.html" %}
								{% endwith %}
							{% endif %}
							<td>{% score match team %}</td>
							{% if match.statistics.count %}
								<td class="report">
									<a href="{% url 'competition:match' competition=competition.slug season=season.slug division=division.slug match=match.pk %}">Detail</a>
								</td>
							{% else %}
								<td></td>
							{% endif %}
						</tr>
					{% endwith %}
				{% endfor %}
			</tbody>
		</table>
	</div>

	{% if parent.ladders %}
		<h3>LADDERS</h3>
	{% endif %}

	{% for stage, pools in parent.ladders.items %}
		{% if stage.ladder_summary.count %}
			<div id="stage_{{ stage.pk }}" class="bordered padded yellow grad">
				{% if stage.pools.exists %}
					{% include "tournamentcontrol/competition/ladder/pool.html" %}
				{% else %}
					{% include "tournamentcontrol/competition/ladder/standard.html" %}
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
