{% spaceless %}
	{% load competition_extras %}
	<tr>
		<td>{{ obj }}</td>
		<td>{{ obj.ladder_entries.count }}</td>
		<td>{{ obj.win }}</td>
		<td>{{ obj.loss }}</td>
		<td>{{ obj.draw }}</td>
		<td>{{ obj.bye }}</td>
		<td>{{ obj.forfeit }}</td>
		<td>{{ obj.score_for }}</td>
		<td>{{ obj.score_against }}</td>
		<td>{{ obj.diff }}</td>
		<td>{{ obj.points }}</td>
	</tr>
{% endspaceless %}
