{% extends "base_shop.html" %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="..">Online Store</a> &#187; {{ object_list.0.department }}
{% endblock %}

{% block content %}

	<div class="bordered padded yellow">
		Coming soon.
	</div>

{% endblock %}
