{% extends "base_shop.html" %}

{% block breadcrumbs %}
{{ block.super }}
{% endblock %}

{% block content %}

	<h3>ONLINE STORE</h3>

{% load news_extras %}
{% for department in object_list %}
	{% if forloop.counter0|even %}<div class="left full">{% endif %}
		<div class="half left">
			<h4>{{ department }}</h4>
			<div class="bordered padded yellow">
			<p style="text-align: center;"><a href="{{ department.slug }}/"><img src="{{ STATIC_URL }}/images/shop/department/{{ department.id }}.png" alt="{{ department }}" /></a></p>
			{{ department.description }}
			</div>
		</div>
	{% if forloop.counter|even or forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}
