{% extends "touchtechnology/shop/base.html" %}
{% load core %}

{% block page_title %}
{{ block.super }} &#187; {{ object }}
{% endblock %}

{% block extra_head %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/shop.js"></script>
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="{% url shop:product-list %}">Online Store</a> &#187; {{ object }}
{% endblock %}

{% block content %}
	<h3>ONLINE STORE</h3>
	<div class="bordered padded white product detail">
		<ul class="photos">
			<li id="photo" class="primary" style="background-image: url({{ object.image_large.url }});">
				<img src="{{ object.image_large.url }}" alt="{{ object }}" />
			</li>
			{% for extra in object.extraimage_set.all %}
				<li class="secondary {% cycle "one" "two" "three" %}" style="background-image: url({{ extra.image_small.url }});">
					<img src="{{ extra.image_large.url }}" alt="{{ extra.label|default_if_none:extra.product.name }}" />
				</li>
			{% endfor %}
		</ul>

		<h1>{{ object.name }}</h1>

		<div class="price{% if object.discount %} special{% endif %}">
			<span class="amount">${{ object.price_including_tax|floatformat:2 }}</span>
			<span class="tax">inc. GST</span>
			{% if object.discount %}
				<div class="discount">
					Save <strong>${{ object.discount|floatformat:2 }}</strong>
				</div>
			{% endif %}
		</div>

		<div class="description">
			{{ object.description|safe }}
		</div>

		<h2>Add to Order</h2>

		<form action="" method="post">
			{% csrf_token %}
			{% if object.shipping %}
				<p class="shipping"><strong>Note:</strong> this product has a shipping fee of ${{ object.shipping|floatformat:2 }}.</p>
			{% endif %}

			{% for f in form %}
				{% field f %}
			{% endfor %}

			<div class="buttons">
				<button type="submit">
					<img src="{{ STATIC_URL }}images/famfamfam/cart_add.png" alt="">
					Add to Cart
				</button>
			</div>
		</form>
	</div>
{% endblock %}
