{% extends "touchtechnology/shop/base.html" %}
{% load url from future %}

{% block content %}
	<h3>ONLINE STORE</h3>
	<div class="bordered padded white products">
		{% for product in object_list %}
			<a class="product{% cycle " one" "" "" "" %}" href="{% url 'shop:product-detail' collection_slug=collection.slug product_slug=product.slug %}">
				<img src="{{ product.image_medium.url }}" alt="{{ product }}" />
				<h5>{{ product }}</h5>
			</a>
		{% endfor %}
	</div>
{% endblock %}
