/*
File: CiUI.css

Style sheet complementing CiUI library.

License:
	http://clientside.cnet.com/wiki/cnet-libraries#license
*/

* {
	padding: 0;
	margin: 0;
	font-family:Helvetica,"Lucida Grande",Verdana,Arial,sans-serif;
}

body {
	overflow: visible;
	padding: 0;
	margin: 0;
	width: 320px;
}

#iphone_header {
	left: 0px;
	top: 0px;
	height:44px;
	background: #ca2026;
}

#iphone_body {
	position: relative;
	overflow: hidden;	
	width: 100%;
	min-height: 316px;
}

.iphone_page {
	position: absolute;
	width: 100%;
}

#iphone_footer {
	position: relative;
	font-size: 10px;
	color: #666;
	text-align: center;
}

#iphone_backbutton {
	position: relative;
	float: left;
	top: 7px;
	left: 5px;
	cursor: pointer;
	display: none;
}

#iphone_backbutton_text {
	background:transparent url(../images/back-button-body.png) no-repeat scroll right top;
	color:white;
	display:block;
	font-size:12px;
	font-weight:bold;
	height:30px;
	margin-left:11px;
	padding-right:5px;
	padding-top:9px;
	text-decoration:none;
}

#iphone_loading_page {
	display: none;
}

#iphone_title {
	color: white;
	position: relative;
	text-align: center;
	padding: 0;
	top: 13px;
	font-weight: bold;
	font-size: 18px;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	left: 5px;
}

.load_more {
	display: block; 
	height: 17px; 
	padding: 8px 32px 8px 10px; 
	font-weight: bold; 
	font-size: 14px; 
	background-color: #eee;
	text-decoration: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

a.load_more:before {
	content: "Load more content...";
}

.load_more_loading {
	display: block; 
	height: 17px; 
	padding: 8px 32px 8px 23px; 
	font-weight: bold; 
	font-size: 14px; 
	background:#194fdb url(../images/loading-small.gif) no-repeat 1% center;
	text-decoration: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: white;
}

a.load_more_loading:after {
	content: "Loading...";
}

.info_msg {
	font-size:18px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	height:300px;
	width:100%;
	margin-bottom:150px;
	margin-top:100px;
}

#cancel_button {
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	color: #333;
}

.menu {
	width: 100%;
	list-style-type: none;
}

.menu > li {
	clear: both;
	height: 30px;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	margin: 0;
	padding: 8px 0pt 8px 10px;
	border-bottom: 1px solid #ddd;	
}

.menu > li > a {
	text-overflow: ellipsis;
	text-decoration: none;
	color: #333;
	display: block;
	padding: 8px 32px 8px 10px;
	margin: 0px 0pt -8px -10px;
	background: url(../images/arrow-right.png) no-repeat right center;
}

.menu li button {
	font-size:16px;
	font-weight:bold;
	vertical-align: middle;
}

.menu li img {
	border: 0px;
	vertical-align:middle;
	margin-right: 5px;
}

.menu > li.match {
	height: 70;
}

#id_score1, #id_score2 {
	text-align: center;
	font-size: 1.0em;
	height: 20px;
	width: 40px;
	float: right;
}

#id_forfeit_winner {
	float: right;
}

div.row, div.match {
	font-weight: bold;
	padding: 8px 12px 8px 10px;
	border-bottom: 1px solid #ccc;
}

.clear { clear: both; }
