/* make sure the dragged item is visible above all others */
.ui-draggable-dragging {
	z-index: 10;
}

/* */
.allocation {
	float: left;
	width: 60%;
}

.matchlist {
	float: left;
	width: 40%;
}

.matchlist div.ui-droppable {
	min-height: 140px;
}

.matchlist div.ui-droppable div {
	min-height: 0;
}

/* */
.active { border-color: Gold; }
.over { border-color: GoldenRod; }

/* */
.match {
	background: transparent url(../images/famfamfam/date.png) 6px 25% no-repeat;
	cursor: pointer;
	display: table;
	margin-bottom: 8px;
	padding-left: 30px;
	z-index: 5;
}

.timeslot {
	padding: 0;
	position: relative;
	margin: 0;
}

.court {
	margin: 0;
}

.court div.dropzone {
	height: 55px;
	margin: 0 0 1px 1px;
}

.court div.match {
	background: transparent;
	border: 0;
	margin: 5px 0 0;
	padding: 3px 0;
	text-align: center;
	width: 100%;
}

