body {
	font-family: Century Gothic, Helvetica, Arial;
	font-size: 12px;
}

p {
	text-align: left;
	vertical-align: top;
}

h5 {
	margin: 0 0 2px 0;
	color: #1470db;
	font-size: 14px;
	position: relative;
	font-style: italic;
}

h6 {
	margin: 0px 0px 8px 0px;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #0b3e7a;
	position: relative;
}
