/* 
*	---- BODY and GENERAL ---- 
*/
body, table, thead, tbody, th, tr, td, div, img, form, fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #0c3e7b url(../images/page-background.jpg) repeat-x top left;
	margin: 0 0 50px 0;
	font-family: helvetica;
	font-size: 12px;
}
.quarter { width: 180px; }
.half { width: 50%; }
.three-quarter { width: 548px; }
.full { width: 100%; }
.bordered { 
	margin: 1px;
	border: 5px solid #e7e5e4;
}
.padded { padding: 10px; }
.padded-sm { padding: 5px; }
.yellow { background-color: #fdfad0; }
.grad {
	background-image: url(../images/box-grad-yellow.gif);
	background-repeat: repeat-x ;
	background-position: bottom left;
}
.blue-bar {
	background: #0d3c80 url(../images/forum-table-header-bak.gif) repeat-x top left;
	padding: 6px 7px;
	padding-bottom: 4px;
}
.grey-bar {
	background: #cfcbca url(../images/my-account-on.gif) repeat-x top left;
	padding: 6px 7px;
	padding-bottom: 4px;
}
.text-right { text-align: right; }
.text-left { text-align: left; }
.no-background-image { background-image: none; }
.right { float: right; }
.left { float: left; }
.clear { clear: both; }
.story {
	min-height: 95px;
	position: relative;
}

.story .topic-icon {
	width: 100px;
	height: 100px;
	margin: 0 0 5px 4px;
	padding: 0;
}

.post-footer {
	background: #eee;
	bottom: 8px;
	font-size: .75em;
	left: 2%;
	margin: 0 0 2px 1px;
	padding: 4px 0;
	text-align: center;
}

.upcoming-games-links {
	bottom: 10px;
	color: #1470db;
	font-weight: bold;
	position: absolute;
}

.upcoming-games-links span {
	color: #1470db;
	padding: 0 4px;
	text-decoration: none;
}
.upcoming-games-links span:hover {
	color: #000;
	cursor: pointer;
}

.banner .upcoming-games-links { color: #fff; }
.banner .upcoming-games-links span { color: #fff; }
.banner .upcoming-games-links span:hover { color: gold; }

/*
*	---- END BODY ---- 
*/


/* 
*	---- HEADINGS ---- 
*/
h3 {
	margin: 0;
	padding: 0;
	background: #f3b12b url(../images/box-bar-grad-large.gif) repeat-x top left;
	padding: 7px 16px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	color: #0b3e7a;
	position: relative;
}

h4 {
	margin: 0;
	padding: 0;
	background: #f3b12b url(../images/box-bar-grad.gif) repeat-x top left;
	padding: 3px 10px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #0b3e7a;
	position: relative;
}

h5 {
	margin: 0 0 2px 0;
	color: #1470db !important;
	font-size: 14px;
	position: relative;
	font-style: italic;
}

h6 {
	margin: 0px 0px 8px 0px;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #0b3e7a;
	position: relative;
}
/* 
*	---- END HEADINGS ---- 
*/


/* 
*	---- LISTS ---- 
*/
ol.no-style, ul.no-style {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

.post-content ul {
	list-style: disc;
	margin: 0 0 10px 25px;
}
/* 
*	---- END LISTS ---- 
*/


/* 
*	---- FORMS ---- 
*/
input.text {
	width: 250px;
	background-color: #d0e2f8;
	border-top: 1px solid #3e4035;
	border-right: 1px solid #a7b0af;
	border-bottom: 1px solid #a7b0af;
	border-left: 1px solid #3e4035;
}

input.text:hover {
	background-color: #e4edf9;
}

input.text:focus {
	background-color: #fff;
}

input.textarea {
	background-color: #d0e2f8;
	border-top: 1px solid #3e4035;
	border-right: 1px solid #a7b0af;
	border-bottom: 1px solid #a7b0af;
	border-left: 1px solid #3e4035;
}

input.textarea:hover {
	background-color: #e4edf9;
}

input.textarea:focus {
	background-color: #fff;
}
/* 
*	---- END FORMS ---- 
*/


/* 
*	---- TABLES ---- 
*/
table {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
table th {
	font-weight: bold;
	text-align: left;
}
table td { vertical-align: top; }

table.upcoming-games { margin-bottom: 10px; }
table.upcoming-games td { padding: 1px 2px 4px; }
table.upcoming-games .label { padding-left: 0; width: 120px; }
table.upcoming-games .date { width: 100px; }
table.upcoming-games .time { width: 70px; }
table.upcoming-games .field { width: 70px; }
table.upcoming-games .score { text-align: center; width: 30px; }
table.upcoming-games .team { width: 140px; }
table.upcoming-games .team.right { text-align: right; }
table.upcoming-games .vs {
	width: 25px;
	text-align: center;
}

.stage h3 {
	background: inherit;
	font-size: 120%;
	margin: 0;
	padding: 0 0 0.5em;
}
.stage h3 a {
	text-decoration: none;
}

.stage .ladder {
	margin-bottom: 1em;
}

/* my account */
table#account-table td { padding-right: 30px; }
table.my-account-purchase-table th {
	color: #bed7f5;
	background-color: #0c3e7b;
	padding: 3px 5px;
}
table.my-account-purchase-table tr { background-color: #d0e2f8; }
table.my-account-purchase-table tr.alt { background-color: #bed7f5; }
table.my-account-purchase-table tr:hover { background-color: #e1ebf8; }
table.my-account-purchase-table td { 
	border-top: 1px solid #fdfad1;
	color: #293b3b;
	padding: 3px 6px;
}

/* message boards */
table.forum-table {
	margin: 0;
	padding: 0;
}
table.forum-table * { text-align: left; }
table.forum-table td.center-large {
	background-color: #e7ecf2;
	text-align: center;
	vertical-align: middle;
}
table.forum-table th {
	background: #0d3c80 url(../images/forum-table-header-bak.gif) repeat-x top left;
	color: #fff;
	font-weight: normal;
	padding: 6px 10px;
}
table.forum-table td.last-post {
	background-color: #e7ecf2;
	font-size: 10px;
}
table.forum-table td.last-post a {
	text-decoration: none;
	font-weight: bold;
}
table.forum-table td {
	background-color: #cfd9e5;
	vertical-align: top;
	padding: 5px 13px;
}
table.forum-table td.forum-header { background-color: #fff; }

/* message board posts */
table.post-table td { padding: 0; }
table.post-table td.post-header div {
	background-color: #fff;
	padding: 5px 10px;
	margin: 1px 0;
}
table.post-table td.post-sidebar {
	width: 150px;
	background-color: #e6ebf1;
}
table.post-table td.post-sidebar div { padding: 8px; }

/* photo gallery */
table.photo-gallery-table {
	width: 100%;
	margin: 10px;
}

/* poll */
table.poll-results {
	margin-bottom:1em;
}
table.poll-results td {
	padding:5px 0;
}

table.poll-results img {
	vertical-align:middle;
}
/* 
*	---- END TABLES ---- 
*/


/* 
*	---- ANCHORS ---- 
*/
a {
	color: #1470db;
	text-decoration: underline;
}

h5 a {
	text-decoration: none;
}

h5 a:hover {
	text-decoration: underline;
}

/* 
*	---- END ANCHORS ---- 
*/


/* 
*	---- GENERAL ---- 
*/
#ie5-5wrapper {
	text-align: center;
}

#container, #header, #top-nav, #sub-top-nav, #main, #footer {
	width: 978px;
	text-align: left;
}

#container {
	margin: 0 auto;
}

#header {
	background: url(../images/header.gif) no-repeat top left;
	height: 105px;
	position: relative;
	z-index: 10;
}

#top-nav {
	background: url(../images/top-nav-background.gif) repeat-x top left;
	height: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: relative;
}

#top-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	right: 0;
	top: 0;
}

#top-nav ul li {
	background: url(../images/top-nav-divider-1.gif) no-repeat 0 0;
	float: left;
}

#top-nav ul li.first {
	background: none;
}

#top-nav ul li.last {
	display: block;
	/*width: 30px;*/
	height: 30px;
}

#top-nav ul li a {
	display: block;
	height: 24px;
	/*width: 120px;*/
	padding: 7px 10px 0 23px;
	text-align: center;
	font-size: 1em;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
}

#top-nav ul li.current a,
#top-nav ul li a:hover {
	color: #f4e116;
}

#top-nav ul li.first a {
	text-align: right;
	width: 35px;
}

#sub-top-nav {
	background: url(../images/grey-bar.gif) repeat-x top left;
	position: relative;
	height: 37px;
	border-bottom: 1px solid #dbd9d8;
}

#sub-top-nav div {
	position: absolute;
	top: 13px;
	left: 25px;
	font-size: 0.8em;
}

.twocol {
	background:url(../images/bg-twocol.gif) top left repeat-y;
	clear:both;
	margin-bottom:1px;
	width:100%;
}

.twocol h4 {
	background:url(../images/twocol-header.jpg) top left repeat-x;
	padding-bottom:10px;
	border-bottom:0;
	border-left:0;
	border-top:1px solid #fff;
}

.twocol .image {
	float:right;
	margin:0 0 10px 10px;
}

.twocol .left, .twocol .right {
	float:left;
	margin:0;
	width:50%;
}
.twocol .right { float:right; }
.twocol .inner { margin:0 1px; }
.twocol .body { padding:10px 15px; }
.twocol .clear {
	background:url(../images/twocol-bottom.gif) top left no-repeat;
	clear:both;
	font-size:0;
	height:5px;
}

.clear { clear:both; }

/* content wrapper */
#main {
	background: #fff url(../images/content-left-shadow.gif) repeat-y 231px 0;
}

/* left nav */
#left-nav {
	background-color: #fff;
	float: left;
	width: 230px;
	margin: 5px 0 0 0;
}

#left-nav ul {
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0;
}

#left-nav ul li.header {
	background: url(../images/nav-left-blue-bar.gif) no-repeat top left;
	width: 200px;
	height: 15px;
	padding: 5px 15px;
	font-weight: bold;
	font-style: italic;
	font-size: 11px;
	color: #fff;
}

#left-nav ul li {
	background-color: #e7e5e4;
	width: 190px;
	margin: 0 0 1px 0;
	padding: 3px 15px;
}

#left-nav ul li.link {
	background: none;
	width: auto;
	height: auto;
	padding: 0;
}

#left-nav ul li.link a {
	background-color: #e7e5e4;
	display: block;
	width: 190px;
	padding: 3px 15px;
	font-size: 12px;
	text-decoration: none;
	color: #000;
}

#left-nav ul li.link a:hover {
	background-color: #ccc;
}

#left-nav ul li.link.current a {
	background: #f3b12b url(../images/box-bar-grad.gif) repeat-x top left;
}

#left-nav ul li.caption {
	padding: 5px;
	width: 210px;
	display: block;
}

#left-nav ul li.caption div {
	background-color: #fff;
	width: 200px;
	padding: 5px;
}

#my-account-nav {
	background: #cfcbca url(../images/my-account-off.gif) repeat-x top left;
	border-bottom: 1px solid #e7e5e4; /* must be here for margins and background properties between .inner and .outer to work correctly */
}

#my-account-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#my-account-nav ul li {
	float: left;
	margin: 0;
	background: url(../images/my-account-off-li.gif) no-repeat top right;
	border-top: 0;
}

#my-account-nav ul li.on {
	background: #e6e5e3 url(../images/my-account-on.gif) repeat-x top left;
	width: 124px;
	border-right: 1px solid #848381;
}

#my-account-nav ul li a {
	display: block;
	padding: 7px 0;
	text-align: center;
	width: 125px;
	text-decoration: none;
	color: #2d2c2a;
}

#my-account-nav ul li a:hover {
	text-decoration: underline;
}

#nomination-control {
	background: #cfcbca url(../images/my-account-off.gif) repeat-x top left;
	border-bottom: 1px solid #fff;
	height: 29px;
}

#nomination-control ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nomination-control ol li {
	float: left;
	margin: 0;
	border-top: 0;
	border-left: 1px solid #fff;
	width: 363px;
}

#nomination-control ol li a {
	display: block;
	padding: 7px 0;
	margin: 0 auto;
	text-align: center;
	width: 363px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

#nomination-control ol li:hover {
	background: #e6e5e3 url(../images/my-account-on.gif) repeat-x top left;
}

#nomination-control ol li:hover a {
	color: #000;
}



#division ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#division ul li {
	float: left;
	margin-left: 4px;
	margin-bottom: 4px;
	width: 160px;
}




#timeslots ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#timeslots ul li {
	float: left;
	margin-left: 4px;
	width: 80px;
}
#timeslots ul li.first {
	margin-left: 0;
}



#players ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#players ul li {
	float: left;
	margin-left: 4px;
	margin-bottom: 4px;
	width: 170px;
}



#content {
	float: left;
	width: 728px;
	padding: 0 0 0 20px;
}



#content p {
	margin: 0 0 10px 0;
}



/* footer */
#footer {
	background: url(../images/footer-bar-grad.gif) repeat-x top left;
	position: relative;
	height: 29px;
	font-size: 10px;
	clear: left;
}

#footer a {
	color: #000;
	text-decoration: none;
}

#footer a:hover {
	color: #333;
}

#footer #left {
	position: absolute;
	top: 7px;
	left: 10px;
	text-align: left;
}

#footer #right {
	position: absolute;
	top: 7px;
	right: 10px;
	text-align: right;
}

#calendar-year-select, #calendar-month-select {
	color: #000;
	position: absolute;
	font-style: normal;
	font-size: 13px;
	top: 8px;
	cursor: pointer;
	_cursor: hand;
}

#calendar-year-select {
	right: 140px;
	width: 203px;
	height: 23px;
	background: url(../images/calendar-year-select.gif) no-repeat top left;
	
}

#calendar-month-select {
	right: 12px;
	width: 123px;
	height: 23px;
	background: url(../images/calendar-month-select.gif) no-repeat top left;
}

#calendar-years, #calendar-months {
	display: none;
	position: absolute;
	left: 1px;
	top: 21px;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #db9a26;
	background-color: #f4c778;
	font-weight: normal;
	z-index: 10;
}

#calendar-years li, #calendar-months li {
	padding: 1px 5px;
}

#calendar-years li:hover, #calendar-months li:hover {
	background-color: #f8af2e;
}

#calendar-years {
	width: 199px;
}

#calendar-months {
	width: 119px;
}

#calendar-year-select div, #calendar-month-select div {
	position: absolute;
	top: 3px;
	left: 32px;
}

#calendar #days-header {
	list-style: none;
	margin: 0;
	padding: 0;
}

#calendar #days {
	list-style: none;
	margin: 0;
	padding: 0;
}

#calendar li, #calendar .weekend, #calendar .event {
	float: left;
	margin: 0 1px 1px 0;
}

#calendar #days-header li, #calendar #days-header .weekend, #calendar #days-header .event {
	background-color: #cfd9e5;
	text-align: center;
	padding: 5px 0px;
	font-weight: bold;
	color: #000;
}

/* ie won't see this */
* > #calendar #days-header li, #calendar #days-header .weekend, #calendar #days-header .event {
	width: 99px;
}

#calendar #days-header .weekend {
	background-color: #d0e2f8;
}

#calendar #days li, #calendar #days .weekend, #calendar #days .event {
	background-color: #d0e2f8;
	padding: 5px;
}

/* ie won't see this */
* > #calendar #days li, #calendar #days .weekend, #calendar #days .event {
	width: 89px;
	height: 65px;
}

#calendar #days li:hover {
	background-color: #c5d8f0;
}

#calendar #days .weekend {
	background-color: #cfd9e5;
}

#calendar #days .weekend:hover {
	background-color: #c1d0de;
}

#calendar #days .event {
	background-color: #fdfad1;
}

#calendar #days .event:hover {
	background-color: #f1f1c7;
}

/* photo gallery */
#photo-gallery-header {
	background: url(../images/photo-gallery-header.jpg) no-repeat top left;
	height: 265px;
}

div.post-content-header {
	background-color: #cfd9e5;
	margin: 0 0 1px 1px;
	padding: 8px;
	position: relative;
}

div.post-content-header-btns {
	position: absolute;
	top: 5px;
	right: 5px;
}

div.post-content-header-btns img {
	float: left;
	margin-left: 4px;
}

div.post-content {
	background-color: #dae3ec;
	margin: 0 0 0 1px;
	padding: 8px;
}

.thumbnail {
	background-color: #fff;
	width: 119px;
	/* height: 90px; /* hack */
	height: 119px;
	margin: 5px 12px 5px 4px;
	padding: 0;
	border: 1px solid #666;
	float: left;
}

.thumbnail:hover {
	border: 1px solid #073a73;
}

/* sign up */
#join-banner {
	background: #000 url(../images/join-banner.jpg) no-repeat top left;
	height: 210px;
	position: relative;
}

#join-btn {
	background: url(../images/join-btn.gif) no-repeat top left;
	position: absolute;
	display: block;
	top: 140px;
	left: 55px;
	width: 175px;
	height: 21px;
}

/* misc. */
#back-btn {
	margin: 5px;
}

td.nobullets ul {
	list-style-type: none;
	margin-top: 0;
	padding: 6px 0 0 12px;
}

fieldset label {
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 7px;
	padding-top: 4px;
	text-align: right;
	width: 100px;
}

fieldset .error {
	color: #c00;
	font-weight: bold;
	padding-left: 6px;
}

/* buttons - from http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
	display: inline-block;
}

.buttons a, .buttons button {
	display: block;
	float: left;
	margin: 0 7px 0 0;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;

	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px; /* links */

	-moz-border-radius: 5px;
}
.buttons button {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px; /* IE6 */
}
.buttons button[type] {
	padding: 5px 10px 5px 7px; /* FF */
	line-height: 17px; /* Safari */
}
*:first-child+html button[type] {
	padding: 4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

button:hover, .buttons a:hover {
	background-color: #fdfad0;
	border: 1px solid #faf188;
	color: #0c3e7B;
}


/* cleanup left-nav problems */
#left-nav ul li.caption div.buttons,
#left-nav ul li.caption div.clear {
	width: 190px;
}

/* more customisation */
.upcoming-games-container {
	height: 190px;
	position: relative;
}
.banner.upcoming-games-container {
	background: #000 url(../images/join-banner1.jpg) top right no-repeat;
}

/** form fields **/

.field_wrapper {
	clear: left;
	margin-bottom: 9px;
}
.field_wrapper label {
	padding-top: 3px;
}
.field_wrapper .field_name {
	float: left;
}
.field_wrapper .field {
	margin-left: 135px;
}
.field_wrapper .field.radio_select ul {
	margin: 0 0 9px;
}
.field_wrapper .field.radio_select ul li {
	float: left;
	list-style: none;
	margin-bottom: 4px;
	width: 100px;
}
.field_wrapper .field.text_input input {
	font-size: 90%;
	padding: 2px 3px;
	width: 240px;
}
.field_wrapper ul.errorlist {
	margin-bottom: 4px;
	margin-left: 135px;
	padding: 0;
}
.field_wrapper ul.errorlist li {
	color: #900;
	list-style: none;
}

/* version string */

#header #versions {
	color: #c9821b;
	padding-top: 3px;
	text-align: center;
}

.version {
	display: inline;
	margin: 0 0.25em;
}

.version a {
	color: inherit;
}

.version span.development {
	color: #1654a6;
}

/* shopping cart box */

#cart {
	background: rgba(255,215,52,0.5);
	border: 1px solid rgba(102,102,102,0.25);
	padding: 4px 8px;
	position: absolute;
	right: 22%;
	top: 35px;
}

#cart .details {
	float: left;
}

#cart .details p {
	margin: 3px 0;
}

#cart .buttons {
	float: right;
	margin-left: 1em;
	margin-top: 8px;
}
#cart .buttons a {
    background-color: rgba(247,185,40,0.5);
	border-color: rgba(102,102,102,0.25);
}

/* styles for tournament control */

.ladder td,
.ladder th {
	text-align: center;
	width: 30px;
}

.ladder tr.current {
    font-weight: bold;
}

.ladder .percentage {
	width: 50px;
}

.ladder .team {
	text-align: left;
	width: 255px;
}
