#left-nav ul li.header{ width: 200px; }
#left-nav ul li, #left-nav ul li.link a { width: 190px; }
#left-nav ul li.caption{ width: 210px; }
#left-nav ul li.caption div { width: 200px; }
#calendar-years { width: 199px; }
#calendar-months { width: 119px; }
#calendar #days-header li, 
#calendar #days-header .weekend, 
#calendar #days-header .event { width: 98px; }
#calendar #days li, 
#calendar #days .weekend, 
#calendar #days .event {
	width: 88px;
	height: 65px;
}