.full { width: 680px; }
#top-nav ul li a {
	width: 134px;
	height: 28px;
}
#left-nav ul li.header{ width: 230px; }
#left-nav ul li, #left-nav ul li.link a { width: 218px; }
#left-nav ul li.caption{ width: 218px; }
#left-nav ul li.caption div { width: 208px; }
#calendar-years { width: 201px; }
#calendar-months { width: 121px; }
#calendar #days-header li, 
#calendar #days-header .weekend, 
#calendar #days-header .event { width: 95px; }
#calendar #days li, 
#calendar #days .weekend, 
#calendar #days .event {
	width: 95px;
	height: 75px;
}