/* body */
body {
	background: #0c3e7b url(../images/page-background.jpg) repeat-x top left;
	margin: 0 0 50px 0;
	padding: 0;
	font-family: Century Gothic, Helvetica, Arial;
	font-size: 12px;
}

img {
	border: 0;
}

/* headings */
h3 {
	margin: 0;
	padding: 0;
	background: #f3b12b url(../images/box-bar-grad-large.gif) repeat-x top left;
	padding: 7px 16px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	color: #0b3e7a;
	position: relative;
}

h4 {
	margin: 0;
	padding: 0;
	background: #f3b12b url(../images/box-bar-grad.gif) repeat-x top left;
	padding: 3px 10px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #0b3e7a;
	position: relative;
}

h5 {
	/* margin: 0 0 2px 0; /* hack */
	margin: 4px 0 2px 0;
	color: #1470db;
	font-size: 14px;
	position: relative;
	font-style: italic;
}

h6 {
	/* margin: 3px 5px; /* hack */
	margin: 4px 0 2px 0;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	color: #0b3e7a;
	position: relative;
}

/* lists */
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.bulleted-list {
	list-style: disc;
	margin: 0 0 10px 25px;
}

/* forms */
input.text {
	width: 250px;
	background-color: #d0e2f8;
	border-top: 1px solid #3e4035;
	border-right: 1px solid #a7b0af;
	border-bottom: 1px solid #a7b0af;
	border-left: 1px solid #3e4035;
}

input.text:hover {
	background-color: #e4edf9;
}

input.text:focus {
	background-color: #fff;
}

input.textarea {
	background-color: #d0e2f8;
	border-top: 1px solid #3e4035;
	border-right: 1px solid #a7b0af;
	border-bottom: 1px solid #a7b0af;
	border-left: 1px solid #3e4035;
}

input.textarea:hover {
	background-color: #e4edf9;
}

input.textarea:focus {
	background-color: #fff;
}

/* general tables */
table {
	margin: 0;
	padding: 0;
}

table th {
	font-weight: bold;
	text-align: left;
}

table td {
	vertical-align: top;
}

table.home-table {
	width: 100%;
}

table#account-table td {
	padding-right: 30px;
}

/* ie only */
* html table.home-table {
	width: 699px; /* ie <= 5.5 will see this */
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 100%; /* this is where ie >= 6 comes in */
}

table.home-table .team-1 {
	text-align: right;
}

table.home-table .vs {
	width: 50px;
	text-align: center;
}

table.home-table .team-2 {
	text-align: left;
}

/* anchors */
a {
	color: #1470db;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/* general setup */
#ie5-5wrapper {
	text-align: center;
}

#container, #header, #top-nav, #sub-top-nav, #main, #footer {
	width: 970px;
	text-align: left;
}

/* main wrapper */
#container {
	margin: 0 auto;
}

/* header */
#header {
	background: url(../images/header.gif) no-repeat top left;
	height: 105px;
	position: relative;
	z-index: 10;
}

#lion {
	width: 157px;
	height: 202px;
	position: absolute;
	top: 20px;
	left: 25px;
}

#lion img {
	width: 157px;
	height: 202px;
}

#editpage {
	width: 77px;
	height: 43px;
	position: absolute;
	top: 62px;
	right: 10px;
}

#editpage img {
	width: 77px;
	height: 43px;
}

#top-nav {
	background: url(../images/top-nav-background.gif) repeat-x top left;
	height: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: relative;
}

#top-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#top-nav ul li {
	background: url(../images/top-nav-divider-1.gif) no-repeat 0 0;
	float: left;
}

#top-nav ul li.first {
	background: none;
}

#top-nav ul li.last {
	background: url(../images/top-nav-register-login-bak.gif) no-repeat 0 0;
}

#top-nav ul li a {
	display: block;
	height: 24px;
	width: 101px;
	padding: 6px 10px 0 23px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

#top-nav ul li a:hover {
	color: #f4e116;
}

/* ie only */
* html #top-nav ul li a {
	width: 134px; /* ie <= 5.5 will see this */
	height: 28px;
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 101px; /* this is where ie >= 6 comes in */
	height: 24px;
}

#top-nav ul li.first a {
	text-align: right;
	width: 35px;
}

#top-nav ul li.last a {
	color: #0b3e7a;
}

#top-nav ul li.last a:hover {
	color: #0470db;
}

#sub-top-nav {
	background: url(../images/grey-bar.gif) repeat-x top left;
	position: relative;
	height: 37px;
	border-bottom: 1px solid #dbd9d8;
}

#sub-top-nav div {
	position: absolute;
	top: 10px;
	left: 251px;
	font-size: 12px;
}

/* content wrapper */
#main {
	background: #fff url(../images/content-left-shadow.gif) repeat-y 231px 0;
}

/* left nav */
#left-nav {
	background-color: #fff;
	float: left;
	width: 230px;
	padding: 70px 0 0 0;
}

#left-nav ul {
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0;
}

#left-nav ul li.header {
	background: url(../images/nav-left-blue-bar.gif) no-repeat top left;
	width: 200px;
	height: 15px;
	padding: 5px 15px;
	font-weight: bold;
	font-style: italic;
	font-size: 11px;
	color: #fff;
}

/* ie only */
* html #left-nav ul li.header{
	width: 230px; /* ie <= 5.5 will see this */
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 200px; /* this is where ie >= 6 comes in */
}

#left-nav ul li {
	background-color: #e7e5e4;
	width: 190px;
	margin: 0 0 1px 0;
	padding: 3px 15px;
}

#left-nav ul li.link {
	background: none;
	width: auto;
	height: auto;
	padding: 0;
}

#left-nav ul li.link a {
	background-color: #e7e5e4;
	display: block;
	width: 190px;
	padding: 3px 15px;
	font-size: 12px;
	text-decoration: none;
	color: #000;
}

#left-nav ul li.link a:hover {
	background-color: #ccc;
}

/* ie only */
* html #left-nav ul li, #left-nav ul li.link a {
	width: 218px; /* ie <= 5.5 will see this */
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 190px; /* this is where ie >= 6 comes in */
}

#left-nav ul li.caption {
	padding: 5px;
	width: 210px;
	display: block;
}

/* ie only */
* html #left-nav ul li.caption{
	width: 218px; /* ie <= 5.5 will see this */
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 210px; /* this is where ie >= 6 comes in */
}

#left-nav ul li.caption div {
	background-color: #fff;
	width: 200px;
	padding: 5px;
}

/* ie only */
* html #left-nav ul li.caption div {
	width: 208px; /* ie <= 5.5 will see this */
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 200px; /* this is where ie >= 6 comes in */
}

#my-account-nav {
	background: #cfcbca url(../images/my-account-off.gif) repeat-x top left;
	border-bottom: 1px solid #e7e5e4; /* must be here for margins and background properties between .inner and .outer to work correctly */
}

#my-account-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#my-account-nav ul li {
	float: left;
	margin: 0;
	background: url(../images/my-account-off-li.gif) no-repeat top right;
	border-top: 0;
}

#my-account-nav ul li.on {
	background: #e6e5e3 url(../images/my-account-on.gif) repeat-x top left;
	width: 124px;
	border-right: 1px solid #848381;
}

#my-account-nav ul li a {
	display: block;
	padding: 7px 0;
	text-align: center;
	width: 125px;
	text-decoration: none;
	color: #2d2c2a;
}

#my-account-nav ul li a:hover {
	text-decoration: underline;
}

/* main content */
#content {
	float: left;
	width: 720px;
	padding: 0 0 0 20px;
}

#content .caption-1 {
	width: 720px;
}

#content .caption-2 {
	width: 360px;
	float: left;
}

#content .caption-3 {
	width: 520px;
	float: left;
}

#content .caption-4 {
	width: 200px;
	float: left;
}

/* ie only */
* html #content .caption-2 {
	width: 350px; /* ie <= 5.5 will see this */
	voice-family: "\"}\""; /* and here is the hack */
	voice-family: inherit; /* along with this */
	width: 360px; /* this is where ie >= 6 comes in */
}

/* ie only */
* html #content .caption-3 {
	width: 510px; /* ie <= 5.5 will see this */
	voice-family: "\"}\""; /* and here is the hack */
	voice-family: inherit; /* along with this */
	width: 520px; /* this is where ie >= 6 comes in */
}

/* ie only */
* html #content .caption-4 {
	width: 190px; /* ie <= 5.5 will see this */
	voice-family: "\"}\""; /* and here is the hack */
	voice-family: inherit; /* along with this */
	width: 200px; /* this is where ie >= 6 comes in */
}

#content .caption-1 .outer, #content .caption-2 .outer, #content .caption-3 .outer, #content .caption-4 .outer {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
}

/* inner content with 5px padding GENERAL .inner */
#content .caption-1 .outer .inner, #content .caption-2 .outer .inner, #content .caption-3 .outer .inner, #content .caption-4 .outer .inner {
	background: #fdfad0 url(../images/box-grad-yellow.gif) repeat-x bottom left;
	border: 5px solid #e7e5e4;
	padding: 10px;
}

/* SAME AS ABOVE BUT WITH NO BACKGROUND IMAGE */
#content .caption-1 .outer .inner-no-img, #content .caption-2 .outer .inner-no-img, #content .caption-3 .outer .inner-no-img, #content .caption-4 .outer .inner-no-img {
	background: #fdfad0;
	border: 5px solid #e7e5e4;
	padding: 10px;
}

/* inner content with 1px padding CALENDAR PAGE STYLE .inner */
#content .caption-1 .outer .inner-2, #content .caption-2 .outer .inner-2, #content .caption-3 .outer .inner-2, #content .caption-4 .outer .inner-2 {
	background: #fdfad0 url(../images/box-grad-yellow.gif) repeat-x bottom left;
	border: 5px solid #e7e5e4;
	padding: 1px;
}

/* SAME AS ABOVE BUT WITH NO BACKGROUND IMAGE */
#content .caption-1 .outer .inner-2-no-img, #content .caption-2 .outer .inner-2-no-img, #content .caption-3 .outer .inner-2-no-img, #content .caption-4 .outer .inner-2-no-img {
	background: #fdfad0;
	border: 5px solid #e7e5e4;
	padding: 1px;
}

/* inner content with 0 padding PHOTO GALLERY STYLE .inner */
#content .caption-1 .outer .inner-3, #content .caption-2 .outer .inner-3, #content .caption-3 .outer .inner-3, #content .caption-4 .outer .inner-3 {
	background: #fdfad0 url(../images/box-grad-yellow.gif) repeat-x bottom left;
	border: 5px solid #e7e5e4;
	padding: 0;
}

/* SAME AS ABOVE BUT WITH NO BACKGROUND IMAGE */
#content .caption-1 .outer .inner-3-no-img, #content .caption-2 .outer .inner-3-no-img, #content .caption-3 .outer .inner-3-no-img, #content .caption-4 .outer .inner-3-no-img {
	background: #fdfad0;
	border: 5px solid #e7e5e4;
	padding: 0;
}

#content p {
	/* margin: 0 0 10px 0; /* hack */
	margin: 8px 0 10px 0;
}

#content .caption-2 .outer .inner-white {
	background: #fff;
	border: 5px solid #e7e5e4;
	padding: 10px;
	/*height: 170px; /* hack */
}

#content .caption-2 .outer .inner, #content .caption-3 .outer .inner, #content .caption-4 .outer .inner {
	height: 200px;
	border: 5px solid #e7e5e4;
	padding: 10px;
}

#content .caption-2 p.footer {
	background-color: #e8f1fb;
	font-size: 10px;
	padding: 6px;
	margin: 0;
	text-align: center;
	vertical-align: bottom;
}

/* footer */
#footer {
	background: url(../images/footer-bar-grad.gif) repeat-x top left;
	position: relative;
	height: 29px;
	font-size: 10px;
	clear: left;
}

#footer a {
	color: #000;
	text-decoration: none;
}

#footer a:hover {
	color: #333;
}

#footer #left {
	position: absolute;
	top: 7px;
	left: 10px;
	text-align: left;
}

#footer #right {
	position: absolute;
	top: 7px;
	right: 10px;
	text-align: right;
}

/* calendar */
#calendar {
	margin: 4px 0 1px 4px;
	margin: 0;
}

/* ie hack */
* html #calendar {
	padding: 4px 0 2px 4px;
	voice-family: "\"}\""; /* and here is the hack */
	voice-family: inherit; /* along with this */
	padding: 4px 0 2px 4px;
}

#calendar-year-select, #calendar-month-select {
	color: #000;
	position: absolute;
	font-style: normal;
	font-size: 13px;
	top: 8px;
	cursor: pointer;
	_cursor: hand;
}

#calendar-year-select {
	right: 140px;
	width: 203px;
	height: 23px;
	background: url(../images/calendar-year-select.gif) no-repeat top left;
	
}

#calendar-month-select {
	right: 12px;
	width: 123px;
	height: 23px;
	background: url(../images/calendar-month-select.gif) no-repeat top left;
}

#calendar-years, #calendar-months {
	display: none;
	position: absolute;
	left: 1px;
	top: 21px;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #db9a26;
	background-color: #f4c778;
	font-weight: normal;
	z-index: 10;
}

#calendar-years li, #calendar-months li {
	padding: 1px 5px;
}

#calendar-years li:hover, #calendar-months li:hover {
	background-color: #f8af2e;
}

#calendar-years {
	width: 199px;
}

* html #calendar-years {
	width: 201px;
	voice-family: "\"}\""; /* and here is the hack */
	voice-family: inherit; /* along with this */
	width: 199px;
}

#calendar-months {
	width: 119px;
}

* html #calendar-months {
	width: 121px;
	voice-family: "\"}\""; /* and here is the hack */
	voice-family: inherit; /* along with this */
	width: 119px;
}

#calendar-year-select div, #calendar-month-select div {
	position: absolute;
	top: 3px;
	left: 32px;
}

#calendar #days-header {
	list-style: none;
	margin: 0;
	padding: 0;
}

#calendar #days {
	list-style: none;
	margin: 0;
	padding: 0;
}

#calendar li, #calendar .weekend, #calendar .event {
	float: left;
	margin: 0 1px 1px 0;
}

#calendar #days-header li, #calendar #days-header .weekend, #calendar #days-header .event {
	background-color: #cfd9e5;
	text-align: center;
	padding: 5px 0px;
	font-weight: bold;
	color: #000;
}

/* ie hack */
* html #calendar #days-header li, #calendar #days-header .weekend, #calendar #days-header .event {
	width: 99px;
	voice-family: "\"}\""; /* and here is the hack */
	voice-family: inherit; /* along with this */
	width: 99px;
}

/* ie won't see this */
* > #calendar #days-header li, #calendar #days-header .weekend, #calendar #days-header .event {
	width: 100px;
}

#calendar #days-header .weekend {
	background-color: #d0e2f8;
}

#calendar #days li, #calendar #days .weekend, #calendar #days .event {
	background-color: #d0e2f8;
	padding: 5px;
}

/* ie hack */
* html #calendar #days li, #calendar #days .weekend, #calendar #days .event {
	width: 99px;
	height: 75px;
	voice-family: "\"}\""; /* and here is the hack */
	voice-family: inherit; /* along with this */
	width: 89px;
	height: 65px;
}

/* ie won't see this */
* > #calendar #days li, #calendar #days .weekend, #calendar #days .event {
	width: 90px;
	height: 65px;
}

#calendar #days li:hover {
	background-color: #c5d8f0;
}

#calendar #days .weekend {
	background-color: #cfd9e5;
}

#calendar #days .weekend:hover {
	background-color: #c1d0de;
}

#calendar #days .event {
	background-color: #fdfad1;
}

#calendar #days .event:hover {
	background-color: #f1f1c7;
}

/* my account */
table.my-account-purchase-table {
	width: 100%;
}

/* ie only */
* html table.my-account-purchase-table {
	width: 699px;
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 100%;
}

table.my-account-purchase-table th {
	color: #bed7f5;
	background-color: #0c3e7b;
	padding: 3px 5px;
}

table.my-account-purchase-table tr {
	background-color: #d0e2f8;
}

table.my-account-purchase-table tr.alt {
	background-color: #bed7f5;
}

table.my-account-purchase-table tr:hover {
	background-color: #e1ebf8;
}

table.my-account-purchase-table td {
	border-top: 1px solid #fdfad1;
	color: #293b3b;
	padding: 3px 6px;
}

/* message boards */
table.forum-table {
	margin: 0;
	padding: 0;
	width: 100%;
}

/* ie only */
* html table.forum-table {
	width: 699px;
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 100%;
}

table.forum-table * {
	text-align: left;
}

table.forum-table td.center-large {
	background-color: #e7ecf2;
	text-align: center;
	vertical-align: middle;
}

table.forum-table th {
	background: #0d3c80 url(../images/forum-table-header-bak.gif) repeat-x top left;
	color: #fff;
	font-weight: normal;
	padding: 6px 10px;
}

table.forum-table td.last-post {
	background-color: #e7ecf2;
	font-size: 10px;
}

table.forum-table td.last-post a {
	text-decoration: none;
	font-weight: bold;
}

table.forum-table td {
	background-color: #cfd9e5;
	vertical-align: top;
	padding: 5px 13px;
}

table.forum-table td.forum-header {
	background-color: #fff;
}

/* photo gallery */
#photo-gallery-header {
	background: url(../images/photo-gallery-header.jpg) no-repeat top left;
	height: 262px;
}

/* message board posts */
table.post-table {
	width: 100%;
}

/* ie only */
* html table.post-table {
	width: 699px;
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 100%;
}

table.post-table td {
	padding: 0;
}

table.post-table td.post-header div {
	background-color: #fff;
	padding: 5px 10px;
	margin: 1px 0;
}

table.post-table td.post-sidebar {
	width: 150px;
	background-color: #e6ebf1;
}

table.post-table td.post-sidebar div {
	padding: 8px;
}

div.post-content-header {
	background-color: #cfd9e5;
	margin: 0 0 1px 1px;
	padding: 8px;
	position: relative;
}

div.post-content-header-btns {
	position: absolute;
	top: 8px;
	right: 8px;
}

div.post-content-header-btns img {
	float: left;
	margin-left: 4px;
}

div.post-content {
	background-color: #dae3ec;
	margin: 0 0 0 1px;
	padding: 8px;
}

div.post-main-heading {
	background: #0d3c80 url(../images/forum-table-header-bak.gif) repeat-x top left;
	padding: 5px 10px;
}

div.post-main-heading img {
	float: right;
	margin-left: 4px;
}

/* photo gallery */
table.photo-gallery-table {
	width: 100%;
	margin: 10px;
}

* html table.photo-gallery-table {
	width: 699px;
	voice-family:"\"}\""; /* and here is the hack */
	voice-family:inherit; /* along with this */
	width: 100%;
}

.thumbnail {
	background-color: #fff;
	width: 119px;
	height: 119px; /* hack - was 90px */
	margin: 5px 12px 5px 4px;
	padding: 0;
	border: 1px solid #666;
	float: left;
}

.thumbnail:hover {
	border: 1px solid #073a73;
}

/* sign up */
#join-banner {
	background: #000 url(../images/join-banner.jpg) no-repeat top left;
	height: 210px;
	position: relative;
}

#join-btn {
	background: url(../images/join-btn.gif) no-repeat top left;
	position: absolute;
	display: block;
	top: 140px;
	left: 55px;
	width: 175px;
	height: 21px;
}

/* misc. */
#back-btn {
	margin: 5px;
}

.no-background-image {
	background-image: none;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.content-left-50 {
	float: left;
	width: 349px;
}
