.team {
	background: #fefde8;
	border: 1px solid #faf188;
	float: left;
	height: 95px;
	margin: 10px 10px 0 0;
	padding: 8px;
	position: relative;
	width: 324px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.team:hover {
	background: #F9FDFF;
	border: 1px solid #DFF5FF;
}
.team.second {
	margin-right: 0;
}
.team .buttons {
	top: 0;
	position: absolute;
	right: 0;
}
.team .buttons a, .team .buttons button {
	margin-top: 8px;
}
