#header { display: none; }
#top-nav { display: none; }
#sub-top-nav { display: none; }
#left-nav { display: none; }
#content { margin: 0 auto; padding: 0; width: 700px; }
#footer { display: none; }

body { background: #fff; }

h1, h2, h3, h4, h5, h6 { border: 0; color: #000; margin: 0; padding: 3px 0; padding-left: 6px; }
h1, h2, h3 { padding: 3px 0 5px; }
h3 { background: none; }
h4 { background: #000; color: #fff; margin: 2px 0; }
h5, h6 { padding-left: 0; }

