.products {
	display: inline-block;
	width: 697px;
}

.product {
	float: left;
	margin: 1em 0 1.5em 1px;
	text-align: center;
	width: 172px;
}

.one {
	clear: left;
}

.product h5 { margin-top: 1em; }
.product:hover h5 { color: #900; }

a.product {
	text-decoration: none;
}

.product.detail {
	margin-top: 1px;
	text-align: left;
	width: 697px;
}

.product.detail h1,
.cart h1 {
	color: #1470db;
	font-style: italic;
	margin-bottom: 8px;
	margin-top: 0;
}

.product.detail h2 {
	clear: left;
	color: #1470db;
	margin-bottom: 8px;
}

.product.detail ul.photos {
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
}
.product.detail ul.photos li {
	background-position: center;
	background-repeat: no-repeat;
	height: 210px;
	list-style: none;
	width: 210px;
}
.product.detail ul.photos li.secondary {
	border: 3px solid white;
	float: left;
	height: 50px;
	margin: 12px 7px 0;
	width: 50px;
}
.product.detail ul.photos li.secondary.three {
	margin-right: 0;
}
.product.detail ul.photos li.secondary:hover {
	border-color: gold;
}
.product.detail ul.photos li img {
	display: none;
}

.product.detail .price {
	background: transparent url(../images/price-star-yellow.png) no-repeat center;
	color: #0b3e7a;
	display: inline-block;
	float: left;
	height: 120px;
	margin: 0 10px 10px 0;
	width: 120px;
}
.product.detail .price .amount,
.product.detail .price .tax,
.product.detail .price .discount {
	display: block;
	text-align: center;
}
.product.detail .price .amount {
	font-size: 210%;
	font-weight: bold;
	padding-top: 35px;
}
.product.detail .price .discount {
	font-size: 120%;
	padding-top: 4px;
}

.product.detail .price.special .amount {
	padding-top: 25px;
}

.product.detail .description {
	float: left;
	width: 355px;
}

.product.detail .field_wrapper .field,
.product.detail .field_wrapper ul.errorlist {
	margin-left: 75px;
}

.product.detail .field_wrapper .field #id_quantity {
	text-align: center;
	width: 30px;
}


/* shopping cart page */
.cart table {
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
}
.cart td {
	padding: 12px 0;
	vertical-align: middle;
}
.cart thead {
	border-bottom: 2px solid black;
}
.cart thead th {
	font-size: 120%;
	padding-bottom: 4px;
}
.cart tfoot {
	border-top: 2px solid black;
}
.cart tfoot th {
	text-align: right;
}
.cart .picture {
	background-color: white;
	width: 60px;
}
.cart .name {
	font-size: 120%;
	padding-left: 0.5em;
}
.cart .size {
	display: block;
	font-style: italic;
	padding: 3px 0 0 2em;
}
.cart .quantity {
	text-align: center;
	width: 75px;
}
.cart .quantity .field_wrapper .field {
	margin-left: 0;
	margin-top: 8px;
}
.cart .quantity .field_wrapper .field input {
	text-align: center;
	width: 30px;
}
.cart .price {
	padding-right: 10px;
	text-align: right;
	width: 75px;
}
.cart .buttons {
	float: right;
}
