body.shop.index .field_wrapper .field.text_input input {
	width: 50px;
}

body.shop.index .field_wrapper .field.text_input input[name$=price],
body.shop.index .field_wrapper .field.text_input input[name$=tax_rate] {
	text-align: right;
}

body.shop.index .field_wrapper .boolean_select ul li {
	width: auto;
}

body.shop.index .field_wrapper.no_label .field,
body.shop.index .field_wrapper.no_label ul.errorlist {
	margin-left: 0;
}

body.shop.index th {
	text-align: left;
}

/* order review in facebox */

body .facebox table.cart { width: 100%; }
body .facebox table.cart th, body .facebox table.cart td { padding: 4px 2px; text-align: left; }
body .facebox table.cart th.price, body .facebox table.cart td.price { text-align: right; }
body .facebox table.cart thead { border-bottom: 1px solid #999; }
body .facebox table.cart tbody tr { background: #eee; border-bottom: 1px solid #eee; }
body .facebox table.cart tbody tr.even { background: #ddd; }
body .facebox table.cart tbody tr.last { border-bottom-color: #999; }
