html {
	background: #0f3d71 url(../images/twitter-background.jpg) no-repeat 0 -220px;
}

#wrapper {
	background-image: none;
	width: 400px;
}

#wrapper #content {
	background: #124988;
	border: 4px solid white;
	color: #f4cc0a;
	-webkit-border-radius: 12px;
}

h1 {
	text-align: center;
}

a {
	color: #f4cc0a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.field_wrapper .field,
.field_wrapper ul.errorlist li {
	margin-left: 150px;
}

.field_wrapper .field.password_input input,
.field_wrapper .field.text_input input {
	width: 200px;
}

ul.errorlist li {
	color: #fff;
}
