{% load competition %}

<h4>UPCOMING GAMES - NEXT {{ number }} {{ units|upper }}</h4>
<div class="bordered padded upcoming-games-container banner">
	<div class="upcoming-games-links">
		<span id="join">Sign-Up</span>
		{% for div in divisions %}
			| <span id="{{ div.title|slugify }}">{{ div.title }}</span>
		{% endfor %}
	</div>

	<div class="buttons">
		<a class="button" href="/join/">
			<img alt="" src="/media/images/famfamfam/group.png"/>
			Join Now!
		</a>
	</div>

	<table class="upcoming-games full">
		<tbody>
		{% for match in matches %}
			<tr class="{% for d in match.competitor1.divisions.all %}{{ d|slugify }} {% endfor %}{% for d in match.competitor2.divisions.all %}{{ d|slugify }} {% endfor %}">
				<td class="date">{{ match.datetime|date }}</td>
				<td class="time">{% if match.datetime.hour %}{{ match.datetime|time:"g:i A" }}{% else %}TBA{% endif %}</td>
				<td class="field">{{ match.standardmatch.court }}</td>
				<td class="team-1">{{ match.competitor1 }}</td>
				<td class="vs">vs</td>
				<td class="team-2">{{ match.competitor2 }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('table.upcoming-games tr').hide();

		$('.upcoming-games-links span:gt(0)').bind('click', function(e) {
			var container = $('.upcoming-games-container');
			var cls = 'table.upcoming-games tr.' + e.target.id;
			if ( container.hasClass('banner') ) {
				container.removeClass('banner').addClass('yellow grad');
			}
			$('table.upcoming-games tr').hide();
			$(cls).show();
			$('.upcoming-games-container .buttons').hide();
		});

		$('.upcoming-games-links span:first').bind('click', function(e) {
			var container = $('.upcoming-games-container');
			container.removeClass('yellow grad').addClass('banner');
			$('table.upcoming-games tr').hide();
			$('.upcoming-games-container .buttons').show();
		});
	});
</script>
