{% extends "base.html" %}

{% block current_poll %}{% endblock %}

{% block extra_head %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.2.6.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/ui/ui.core.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/ui/ui.draggable.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/ui/ui.droppable.js"></script>

	<script type="text/javascript">

$(document).ready( function() {

	function dropAllocation(ev, ui) {
		var obj = ui.draggable.length ? ui.draggable[0] : null;
		var container = $(obj).parent();

		/* re-enable the container if it was a droppable */
		if (container.hasClass('ui-droppable-disabled')) {
			container.droppable('enable');
		}

		/* set the top/left coordinates so we don't have problems with 'revert' */
		obj.style.top = '';
		obj.style.left = '';

		/* move this element around in the DOM and disabled it from receiving any new elements */
		$(this).append(obj);
		if (!$(this).parent().hasClass('matchlist')) {
			$(this).droppable('disable');
		}

		/*  */
		$('.ui-droppable.active').removeClass('active');
	}

	$(".match").draggable({ opacity: 0.5, revert: true });
	$(".court div").droppable({ accept: ".match", activeClass: "active", hoverClass: "over", tolerance: "pointer", drop: dropAllocation });
	$(".matchlist div").droppable({ accept: ".court .match", activeClass: "active", hoverClass: "over", tolerance: "pointer", drop: dropAllocation });

	/* re-root the matches that have actually already been allocated */
	function resetAllocations() {
		$('.match').each( function() {
			var ids = this.id.match(/\d+/g);
			if (ids.length > 1) {
				var alloc = $('.timeslot[name=' + ids[1] + '] .court div[id$=_' + ids[2] + ']')
				if (alloc.length) {
					alloc.append(this);
					alloc.droppable('disable');
				}
			}
		});
	}
	resetAllocations();
});

	</script>

	<style type="text/css">
		.match {
			background: transparent url({{ STATIC_URL }}images/famfamfam/date.png) 6px 25% no-repeat;
			cursor: pointer;
			display: table;
			margin-bottom: 8px;
			padding-left: 30px;
			z-index: 5;
		}
		.timeslot {
			position: relative;
			padding: 0;
			margin: 0;
		}
		.court {
			margin: 0;
		}
		.court div.dropzone {
			height: 55px;
			margin: 0 0 1px 1px;
		}
		.court div.match {
			margin: 5px 0 0;
			padding: 3px 0;
			text-align: center;
			width: 100%;
		}
		.active {
			border-color: PaleGoldenRod;
		}
		.over {
			border-color: GoldenRod;
		}
		.ui-draggable-dragging {
			z-index: 10;
		}

		.court div.match {
			background: transparent;
			border: 0;
		}

		.allocation {
			float: left;
			width: 60%;
		}

		.matchlist {
			float: left;
			width: 40%;
		}
		.matchlist div.ui-droppable {
			min-height: 140px;
		}
		.matchlist div.ui-droppable div {
			min-height: 0;
		}
	</style>
{% endblock %}


{% block content %}
<div class="allocation">
{% for time in time_courts %}
	<h4>{{ time.time|time:"g:i A" }}</h4>
	<div id="time_{{ time.id }}" class="timeslot" name="{{ time.time|time:"Hi" }}">
		{% for court in time.courts.all %}
			<div class="left half court">
				<div id="time_{{ time.id }}_court_{{ court.id }}" class="bordered padded white dropzone"><strong>{{ court }}</strong></div>
			</div>
		{% endfor %}
		<div style="clear: both;"></div>
	</div>
{% endfor %}
</div>

<div class="matchlist">
	<h4>MATCHES</h4>
	<div class="bordered padded yellow grad">
	{% for match in object_list %}
		<div id="match_{{ match.id }}{% if match.child.court.id %}_time_{{ match.datetime|time:"Hi" }}_court_{{ match.child.court.id }}{% endif %}" class="match">{{ match.competitor1 }}<br />{{ match.competitor2 }}</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
