{% load competition %}

<h3>Upcoming Games</h3>
{% for match in object_list %}
{% ifchanged match.datetime.date %}<h4>{{ match.datetime|date }}</h4>{% endifchanged %}
<p>{{ match.datetime|time }} - {{ match.competitor1 }} vs {{ match.competitor2 }} - {% match_division match %} - {{ match.datetime|past_or_future }}</p>
{% endfor %}
