<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head>
	<title>{% block page_title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width"/>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/CiUI.css" />
	<script src="{{ STATIC_URL }}js/jquery-1.2.1.js"></script>
	{% block js %}
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$("#iphone_title").text($("title").text());
		});
	</script>
	{% endblock js %}
</head>

<body>
	<div id="iphone_header">
		<div id="iphone_title"></div>
	</div>

	<div id="iphone_body" style="clear: both;">
{% block content %}
{% endblock content %}
	</div>

	<div id="iphone_footer">&copy; {{ site.name }}</div>

	<div id="iphone_loading_page">
		<div id='loading' class="info_msg">
			<img src="{{ STATIC_URL }}images/loading.gif" /><br />
			loading...
		</div>
	</div>
</body>
</html>
