<html>
<head>
<title>Result Entry</title>
<meta name = "viewport" content = "width = device-width, user-scalable = no">
</head>
<body>

<h3>Result Entry</h3>

{% for date in dates %}
<p><a href="{{ date|date:"Y/b/j/" }}">{{ date|date }}</a></p>
{% endfor %}

</body>
</html>
