<html>
<head>
<title>Result Entry</title>
<meta name = "viewport" content = "width = device-width, user-scalable = no">
<style type="text/css">
	th { vertical-align: top; text-align: right; }
	td.forfeit ul { list-style: none; padding: 0; margin: 0; }
</style>
</head>
<body>

{{ form.errors }}

{% with form.instance as match %}
	<form action="." method="post">
		{% csrf_token %}
		<table>
			<tr>
				<th>{{ match.competitor1 }}:</th>
				<td>{{ form.score1 }}</td>
			</tr>
			<tr>
				<th>{{ match.competitor2 }}:</th>
				<td>{{ form.score2 }}</td>
			</tr>
			<tr>
				<th rowspan="2">{{ form.is_forfeit.label }}:</th>
				<td>{{ form.is_forfeit }} Yes</td>
			</tr>
			<tr>
				<td class="forfeit">
					{{ form.forfeit_winner }}
				</td>
			</tr>
		</table>
		<input type="submit" />
	</form>
{% endwith %}

</body>
</html>
