{% extends "base_competition.html" %}

{% block content %}

<h4>{{ day|date }}</h4>
<div class="bordered padded white">
{% for object in object_list %}
	<h5>{{ object.venue }} {{ object.games_on|yesno:"OPEN,CLOSED" }}</h5>
	{% if object.comments %}{{ object.comments|safe }}{% endif %}
{% endfor %}
</div>

{% endblock %}
