{% load common %}
{% block outer_page_title %}<h3>{% block page_title %}{{ node.title|upper }}{% endblock %}</h3>{% endblock %}

<div class="bordered padded yellow">
	{% for content in page.content.all %}
		<div id="c{{ content.pk }}" class="{{ content.label }} {% if forloop.first %}first {% endif %}{% if forloop.last %} last {% endif %}{% block sectionclass %}{% endblock %}">
			{{ content.copy|safe }}
		</div>
	{% empty %}
		<!-- there are no content sections for this page -->
	{% endfor %}
</div>
