{% extends "touchtechnology/content/_page.html" %}

{% block extra_head %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/prototype.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/scriptaculous.js?load=effects"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/lightbox.css" type="text/css" media="screen" />
{% endblock %}
