{% load url from future %}
{% load tz %}
<div class="news latest">
	{% for a in article_list %}
		<div class="article {% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last{% endif %}">
			<h4>{{ a.headline }}</h4>

			<div class="bordered padded white">
				{{ a.abstract|urlize|linebreaks }}
			</div>

			<div class="post-footer">
				Posted {% if a.byline %}by <strong>{{ a.byline }}</strong>{% endif %} on {{ a.published|date }} @ {{ a.published|time }} (<a href="{% timezone "UTC" %}{% url 'news:article' a.published.year a.published|date:"b" a.published.day a.slug %}{% endtimezone %}">Full story</a>)
			</div>
		</div>
	{% endfor %}
</div>
