{% load url from future %}
{% load tz %}
<div class="half left">
	<h4>Related articles</h4>
	<div class="bordered padded yellow grad">
		{% for article in article_list|slice:slice %}
			<p class="{% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last{% endif %}">
				<a href="{% timezone "UTC" %}{% url 'news:article' article.published.year article.published|date:"b" article.published.day article.slug %}{% endtimezone %}">{{ article.headline }}</a>
			</p>
		{% endfor %}
	</div>
</div>
<div class="half left">
	<h4>Related categories</h4>
	<div class="bordered padded yellow grad">
		{% for category in category_list %}
			<p class="{% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last{% endif %}">
				<a href="{% url 'news:category-index' category.slug %}">{{ category.short_title|default:category.title }}</a>
			</p>
		{% endfor %}
	</div>
</div>
