{% extends "touchtechnology/news/_article.html" %}
{% load common news %}

{% block news_content %}
	<h3>{{ article.headline|upper }}</h3>
	<div class="padded bordered white">
		{% for content in article.content.all %}
			<div id="c{{ content.pk }}" class="{{ content.label }}">
				{% if forloop.first %}
					<div class="abstract">
						{{ article.abstract|urlize|linebreaks }}
					</div>
				{% endif %}

				{{ content.copy|safe }}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block related_content %}
	{% related_articles article 5 %}
{% endblock %}
