{% extends "touchtechnology/news/base.html" %}
{% load url from future %}
{% load tz %}
{% load common %}

{% block page_title %} &#187; {{ node.title|default:"Latest News" }}{% if category %} - {{ category.title }}{% endif %}{% endblock %}

{% block news_content %}
	<h3>{% filter upper %}{{ node.title|default:"Latest News" }}{% endfilter %}</h3>

	<div class="padded bordered yellow grad">
		{% for content in node.contents.all %}
			{{ content.copy|safe }}
		{% endfor %}
	</div>

	{% for article in object_list %}
		<div class="article {% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last{% endif %}" id="article_{{ article.id }}">
			<h4>{{ article.headline|upper }}</h4>
			<div class="padded bordered white">
				{{ article.abstract|urlize|linebreaks }}
			</div>
			<div class="post-footer">
				Posted {% if article.byline %}by <strong>{{ article.byline }}</strong>{% endif %} on {{ article.published|date }} @ {{ article.published|time }}
				(<a class="button more" href="{% timezone "UTC" %}{% url 'news:article' article.published.year article.published|date:"b" article.published.day article.slug %}{% endtimezone %}">Full story</a>)
			</div>
		</div>
	{% endfor %}

	{% pagination %}
{% endblock %}
