{% load i18n static tz %}
{% load common %}
<html>
<head>
	<title>{% trans "Scorecards" %}</title>

	<link rel="stylesheet" href="{% get_static_prefix %}tournamentcontrol/competition/css/vi_scorecards.css" />

	<meta name="author" content="{% block meta_author %}{{ site.name }}{% endblock %}" />
	<meta name="subject" content="{% block meta_subject %}{% endblock %}" />
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
	<meta name="date" content="{% block meta_date %}{% now "c" %}{% endblock %}" />

</head>
<body>
	{% trans "TBA" as tba context "abbreviation: to be advised" %}
	{% trans "TBC" as tbc context "abbreviation: to be confirmed" %}

{% timezone "Australia/Sydney" %}
	{% for match in matches %}
		<table class="scorecard {% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last{% endif %}">
			<thead>
				<tr>
					<th colspan="3" class="division">
						{{ match.division.title }}
						{% if match.division_group %}
							<br />{{ match.division_group.title }}
						{% else %}
							{% if match.is_final %}
								<br />{{ match.label }}
							{% endif %}
						{% endif %}
					</th>
					<th colspan="2" class="field">
						{% if match.play_at %}
							{{ match.play_at.content_object.abbreviation|default:match.play_at.title }}
						{% else %}
							{{ tba }}
						{% endif %}
					</th>
					<th colspan="2" class="time">{{ match.datetime|date:"G:i e"|default:tbc }}</th>
					<th colspan="3" class="date">
						{{ match.date|date|default:tba }}
					</th>
				</tr>
				<tr>
					<th colspan="5" class="team">{{ match.get_home_team.title }}</th>
					<th colspan="5" class="team">{{ match.get_away_team.title }}</th>
				</tr>
			</thead>
			<tbody>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
				<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="captain">{% trans "Captain:" %}</td>
					<td colspan="2" rowspan="2" class="score"></td>
					<td colspan="3" class="captain">{% trans "Captain:" %}</td>
					<td colspan="2" rowspan="2" class="score"></td>
				</tr>
				<tr>
					<td colspan="3" class="signature"></td>
					<td colspan="3" class="signature"></td>
				</tr>
			</tfoot>
		</table>
	{% endfor %}
{% endtimezone %}
</body>
</html>
