{% block archive %}
	<h3>NEWS ARCHIVE</h3>
	<div class="bordered padded yellow grad">
		<p><strong>Year:</strong>
		{% for year in date_list reversed %}
			<a href="{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a>
		{% endfor %}
		</p>

		<p><strong>Topic:</strong>
		{% for topic in topic_list %}
			<a href="{{ topic.slug }}/">{{ topic }}</a>
		{% endfor %}
		</p>
	</div>
{% endblock %}
