{% extends "news/base.html" %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="..">News Archive</a> &#187; {{ year }}
{% endblock %}

{% block content %}

	<h3>NEWS ARCHIVE: {{ year }}</h3>
	<div class="bordered padded yellow">{% for month in date_list %}
		<p><a href="{{ month|date:"b"|lower }}/">{{ month|date:"F" }}</a></p>{% endfor %}
	</div>

{% endblock %}
