{% extends "news/base.html" %}
{% load news_extras %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; News Archive
{% endblock %}

{% block content %}
	{% include "news/archive.html" %}

	{% for story in latest %}
		<div style="position: relative;">
			<h4><span class="truncated" title="{{ story.title|escape }}">{{ story.title|upper }}</span></h4>
			<div class="bordered padded white">
					{% if story.category.icon %}<img class="topic-icon right" src="{{ STATIC_URL }}{{ story.category.icon }}" alt="{{ story }}" />{% else %}<!-- no topic icon -->{% endif %}
					{{ story.short_version|safe }}
			</div>
			<div class="post-footer">Posted by <a href="/users/{{ story.posted_by.username }}/">{{ story.posted_by.username }}</a> on {{ story.publish|date:"D, jS N Y @ H:i" }} (<a href="/news/{{ story.publish|date:"Y/b/d" }}/{{ story.slug }}/">Full Story</a>)</div>
		</div>
	{% endfor %}
{% endblock %}
