{% extends "base.html" %}

{% block content %}

	<h3>Page Not Found</h3>
	<div class="bordered padded yellow">
		<p>Looks like you followed a bad link. If you think it's our fault, please <a href="mailto:webmaster@sydney.touch.asn.au">let us know</a>.</p>
		<p>Here's a link to the <a href="/">homepage</a>. You know, just in case.</p>
	</div>

{% endblock %}
