{% extends "base.html" %}

{% block page_title %}
{{ block.super }} &#187; My Account
{% endblock %}

{% block breadcrumbs %}
<a href="/">{{ block.super }}</a> &#187; My Account
{% endblock %}

{% block current_poll %}
<!-- hide the polls from the navigation menu --> 
{% endblock %}

{% block extra_head %}
	<link href="{{ STATIC_URL }}js/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
	<script src="{{ STATIC_URL }}js/facebox/facebox.js" type="text/javascript"></script>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('a[rel*=facebox]').facebox()
	});
	</script>
{% endblock %}

{% block content %}
	<h3>MY ACCOUNT</h3>
	{% comment %}
	<div id="my-account-nav">
		<ul>
			<li{% ifequal folder "personal" %} class="on"{% endifequal %}><a href="../personal/">Personal</a></li>
			<li{% ifequal folder "contact" %} class="on"{% endifequal %}><a href="../profile/">Contact</a></li>
			<li{% ifequal folder "subscribe" %} class="on"{% endifequal %}><a href="../subscribe/">Subscriptions</a></li>
			<li{% ifequal folder "transactions" %} class="on"{% endifequal %}><a href="../transactions/" rel="facebox">Transactions</a></li>

			<li><a href="../logout/">Logout</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	{% endcomment %}

	{% if updated %}
		<div class="bordered padded white">
			<div style="text-align: center; color: #c00; font-weight: bold;">Thank you {{ user }}, your changes have been saved.</div>
		</div>
	{% endif %}
{% endblock %}
