{% extends "base.html" %}

{% block breadcrumbs %}
<a href="/">{{ block.super }}</a> &#187; Online Store
{% endblock %}

{% block left-nav %}
	<ul>
		<li class="header">BASKET</li>
		<li class="caption">
			<div>Your basket is empty.</div>
		</li>
		<li class="header">FOR SALE</li>
		<li class="caption">
			<div>Random Item from Shop</div>
			<div>Price: $95.00</div>
			<div>Add to Basket</div>
		</li>
	</ul>
{% endblock %}
