<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ site.name }}{% block page_title %}{% endblock %}</title>
{% block extra_head %}{% endblock %}
</head>
<body{% block extra_body_tag %}{% endblock %}>

<div id="ie5-5wrapper">
	<div id="container">
		<div id="header"></div>
		<div id="top-nav">
			<ul>
				<li class="first"><a href="/">HOME</a></li>
				<li><a href="/photos/">PHOTO GALLERY</a></li>
				<li><a href="/forum/">MESSAGE BOARD</a></li>
				<li><a href="/events/">EVENT CALENDAR</a></li>
				<li><a href="/store/">ONLINE STORE</a></li>
				<li class="last">{% if user.is_authenticated %}<a href="/accounts/logout/">LOGOUT</a>{% else %}<a href="/accounts/register/">REGISTER &amp; LOGIN</a>{% endif %}</li>
			</ul>
		</div>
		<div id="sub-top-nav">
			<div>
				<strong>You are here:</strong> Home
			</div>
		</div>
		<div id="main">
			<div id="left-nav">
				<ul>
					<li class="header">COMPETITION</li>
					<li class="link"><a href="/competition/draw/">Draws &amp; Results</a></li>
					<li class="link"><a href="/competition/points/">Ladders</a></li>
					<li class="link"><a href="/competition/pool/">Player Pool</a></li>
				</ul>
{% for cat in navigation %}
				<ul>
					<li class="header">{{ cat|upper }}</li>{% for item in cat.cmscontent_set.all %}
					<li class="link"><a href="/cms/{{ cat.slug }}/{{ item.slug }}/">{{ item }}</a></li>{% endfor %}
				</ul>{% endfor %}

				<ul>
					<li class="header">SPONSORS</li>
					<li class="caption">{% for sponsor in sponsors %}
						<div>{% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}<img src="{{ sponsor.photo }}" alt="{{ sponsor|escape }}" />{% if sponsor.url %}</a>{% endif %}</div>
					{% endfor %}</li>
				</ul>

				<ul>
					<li class="header">CURRENT POLL</li>
					<li class="caption">
						<div id="vote">
							<form action="" method="post" id="voteform">
								{% csrf_token %}
								<p><strong>{{ poll }}</strong></p>{% if already_voted %}
								<p>Thanks for voting - to change your vote, please <a href="/polls/{{ poll.id }}/">click here</a>.</p>{% else %}{% if not user.is_authenticated %}<p>You must be logged in to vote.</p>{% else %}{% for choice in poll.choice_set.all %}
								<label><input type="radio" name="poll_{{ poll.id }}" value="{{ choice.id }}" /> {{ choice }}</label><br />{% endfor %}
								<p><input type="image" onclick="javascript:cast_vote({{ poll.id }}, document.getElementById('voteform').poll_{{ poll.id }});return false;" src="{{ STATIC_URL }}images/vote.gif" /></p>{% endif %}{% endif %}
								<p><a href="/polls/{{ poll.id }}/results/">View Results</a></p>
							</form>
						</div>
					</li>
				</ul>
			</div>
			<div id="content">
{% block content %}{% endblock %}
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<div id="left">
				&copy;2002-{% now "Y" %} Copyright Sydney University Touch Club. All rights reserved.
			</div>
			<div id="right">
				<a href="/">Home</a> |
				<a href="/photos/">Photo Gallery</a> |
				<a href="/forum/">Message Board</a> |
				<a href="/events/">Event Calendar</a> |
				<a href="/store/">Online Store</a> |
				<a href="/register/">Register &amp; Login</a>
			</div>
		</div>
	</div>
</div>

</body>
</html>
