<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ site.name }}{% block page_title %}{% endblock %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}images/sutf16.png" type="image/png" />
<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" type="image/png" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/print.css" media="print" />
<!--[if lt IE 6]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie-lt-6.css" /><![endif]-->
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie-6.css" /><![endif]-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tooltip.js"></script>
<!--[if lt IE 7]><script defer type="text/javascript" src="{{ STATIC_URL }}js/iepngfix.js"></script><![endif]-->
{% block extra_head %}{% endblock %}
<script type="text/javascript" src="{{ STATIC_URL }}js/vote.js"></script>
</head>
<body {% block extra_body_tag %}{% endblock %}>

{% load url from future %}
{% load common %}

<div id="ie5-5wrapper">
	<div id="container">
		<div id="header">
			{% block cart %}
				{% if cart.count %}
					<div id="cart">
						<div class="details">
							<p>You have {{ cart.count }} item{{ cart.count|pluralize }} in your cart.</p>
							<p>Total value of item{{ cart.count|pluralize }} is ${{ cart.total|floatformat:2 }}, including taxes.</p>
						</div>
						<div class="buttons">
							<a href="{% url 'cart:items' %}">
							<img src="{{ STATIC_URL }}images/famfamfam/cart.png" alt="Cart" />
							Cart</a>
						</div>
					</div>
				{% endif %}
			{% endblock %}
			{% if user.is_staff %}
				<div id="versions">
					{% version "python" "http://python.org/" %}
					{% version "django" "http://www.djangoproject.com/" %}
				</div>
			{% endif %}
		</div>
		<div id="top-nav">
			{% navigation stop_at=0 current_node=node %}
		</div>
		<div id="main">
			<div id="left-nav">


{% block left-nav %}
	{% navigation start_at=0 stop_at=1 current_node=node expand_all_nodes=1 template_name='menus/left.html' %}
{% endblock %}


			</div>
			<div id="content">

{% block content %}{% endblock %}

				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div id="footer">
			<div id="left">
				&copy; 2002-{% now "Y" %} Copyright Sydney University Touch Club.
			</div>
			<div id="right">
				{% navigation stop_at=0 template_name="menus/footer.html" %}
				<a href="//www.facebook.com/sydneyunitouch">Facebook</a>
			</div>
		</div>
	</div>
</div>
{% block analytics %}{% analytics "UA-6649938-1" %}{% endblock %}
</body>
</html>
