{% extends "base_competition.html" %}

{% block page_title %}
{{ block.super }} &#187; Player Pool
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="..">Competition</a> &#187; Player Pool
{% endblock %}
