{% extends "base.html" %}

{% block page_title %}
{{ block.super }} &#187; Event Calendar
{% endblock %}

{% block breadcrumbs %}
<a href="/">{{ block.super }}</a> &#187; Event Calendar
{% endblock %}

{% block extra_head %}
<script type="text/javascript">
/* initialise the events and attributes of the event calendar select 
boxes when the document is ready to be manipulated */
jQuery(document).ready(function($) {
	$('#calendar-year-select > ul, #calendar-month-select > ul').css('opacity', 0.8); // set drop down menu opacity to %80
	// toggle visibility (using css 'display') for the year drop down menu
	$('#calendar-year-select').toggle(function() {
		$('#calendar-year-select > ul').show(); //show
	}, function() {
		$('#calendar-year-select > ul').hide(); // hide
	});
	// toggle visibility (using css 'display') for the month drop down menu
	$('#calendar-month-select').toggle(function() {
		$('#calendar-month-select > ul').show(); // show
	}, function() {
		$('#calendar-month-select > ul').hide(); // hide
	});
	$('#calendar-years > li').click(function() {
		/* when the year is selected, the following
		will change the year in the select box to the
		one that was selected and hide the menu */
		$('#current-year').text($(this).text());
		$('#calendar-year-select > ul').hide();
	});
	$('#calendar-months > li').click(function() {
		/* same as above code but for the month */
		$('#current-month').text($(this).text());
		$('#calendar-month-select > ul').hide();
	});
});
</script>
{% endblock %}

