<table id="comp_31" class="upcoming-games" width="100%">
<tr><td colspan="8"><h5>Round 1</h5></td></tr><tr>
<td>03/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Wesley College&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Chippendale Chargers</td>
</tr>
<tr>
<td>03/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Rozelle Rangers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Brown Team</td>
</tr>
<tr>
<td>03/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Forest Lodge Fire</td>
</tr>
<tr><td colspan="8"><h5>Round 2</h5></td></tr><tr>
<td>10/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Chippendale Chargers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Brown Team</td>
</tr>
<tr>
<td>10/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Wesley College&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Darlington Demons</td>
</tr>
<tr>
<td>10/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Rozelle Rangers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Forest Lodge Fire</td>
</tr>
<tr>
<td>10/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(10)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Broadway Brawlers</td>
</tr>
<tr><td colspan="8"><h5>Round 3</h5></td></tr><tr>
<td>17/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>The Brown Team&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Darlington Demons</td>
</tr>
<tr>
<td>17/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Wesley College&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Broadway Brawlers</td>
</tr>
<tr>
<td>17/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Chippendale Chargers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Forest Lodge Fire</td>
</tr>
<tr>
<td>17/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Rozelle Rangers</td>
</tr>
<tr><td colspan="8"><h5>Round 4</h5></td></tr><tr>
<td>31/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Chippendale Chargers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Rozelle Rangers</td>
</tr>
<tr>
<td>31/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>The Brown Team&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Broadway Brawlers</td>
</tr>
<tr>
<td>31/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wesley College</td>
</tr>
<tr>
<td>31/03/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Darlington Demons&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Forest Lodge Fire</td>
</tr>
<tr><td colspan="8"><h5>Round 5</h5></td></tr><tr>
<td>07/04/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>The Brown Team&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wesley College</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Darlington Demons&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Rozelle Rangers</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(12)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Chippendale Chargers</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Forest Lodge Fire&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Broadway Brawlers</td>
</tr>
<tr><td colspan="8"><h5>Round 6</h5></td></tr><tr>
<td>28/04/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Chippendale Chargers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wesley College</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>The Brown Team&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Rozelle Rangers</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Darlington Demons&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Broadway Brawlers</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Forest Lodge Fire&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Lilyfield Lightening</td>
</tr>
<tr><td colspan="8"><h5>Round 7</h5></td></tr><tr>
<td>05/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Darlington Demons&nbsp;&nbsp;</td>
<td align=center>&nbsp;(10)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Chippendale Chargers</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Forest Lodge Fire&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wesley College</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Broadway Brawlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Rozelle Rangers</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Brown Team</td>
</tr>
<tr><td colspan="8"><h5>Round 8</h5></td></tr><tr>
<td>12/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Rozelle Rangers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wesley College</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Broadway Brawlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(12)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Chippendale Chargers</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Forest Lodge Fire&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(12)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Brown Team</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(10)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Darlington Demons</td>
</tr>
<tr><td colspan="8"><h5>Round 9</h5></td></tr><tr>
<td>19/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>The Brown Team&nbsp;&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Chippendale Chargers</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Darlington Demons&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wesley College</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Forest Lodge Fire&nbsp;&nbsp;</td>
<td align=center>&nbsp;(10)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Rozelle Rangers</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Broadway Brawlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Lilyfield Lightening</td>
</tr>
<tr><td colspan="8"><h5>Round 10</h5></td></tr><tr>
<td>26/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Darlington Demons&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Brown Team</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Broadway Brawlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wesley College</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Forest Lodge Fire&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Chippendale Chargers</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Rozelle Rangers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(11)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Lilyfield Lightening</td>
</tr>
<tr><td colspan="8"><h5>Round 11</h5></td></tr><tr>
<td>23/06/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Rozelle Rangers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Chippendale Chargers</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Broadway Brawlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Brown Team</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Wesley College&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Lilyfield Lightening</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Forest Lodge Fire&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Darlington Demons</td>
</tr>
<tr><td colspan="8"><h5>Round 12</h5></td></tr><tr>
<td>04/08/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Darlington Demons&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wesley College</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>The Brown Team&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Forest Lodge Fire</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Rozelle Rangers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Lilyfield Lightening</td>
</tr>
<tr><td colspan="8"><h5>Round 13</h5></td></tr><tr>
<td>11/08/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Undecided&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Undecided</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Undecided&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Undecided</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Undecided&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Undecided</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>6:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Undecided&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Undecided</td>
</tr>
<tr><td colspan="8"><h5>Semi Final</h5></td></tr><tr>
<td>Semi Final</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>The Brown Team&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Darlington Demons</td>
</tr>
<tr>
<td>Semi Final</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Forest Lodge Fire</td>
</tr>
<tr><td colspan="8"><h5>Final</h5></td></tr><tr>
<td>Final</td><td align=center>6:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Lilyfield Lightening&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Darlington Demons</td>
</tr>
</table>

<table id="comp_32" class="upcoming-games" width="100%">
<tr><td colspan="8"><h5>Round 1</h5></td></tr><tr>
<td>31/03/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Toxteth Tornadoes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>31/03/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Geckos&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Ligers</td>
</tr>
<tr>
<td>31/03/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ultimo Black Knights</td>
</tr>
<tr>
<td>31/03/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Irukandji&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bye</td>
</tr>
<tr><td colspan="8"><h5>Round 2</h5></td></tr><tr>
<td>07/04/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Toxteth Tornadoes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Ligers</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Geckos&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tuncurry Invitational</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Irukandji&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ultimo Black Knights</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Bye&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr><td colspan="8"><h5>Round 3</h5></td></tr><tr>
<td>28/04/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Ligers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tuncurry Invitational</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Ultimo Black Knights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Toxteth Tornadoes</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>The Geckos&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bye</td>
</tr>
<tr><td colspan="8"><h5>Round 4</h5></td></tr><tr>
<td>05/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Geckos&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Toxteth Tornadoes</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ultimo Black Knights</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Irukandji&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tuncurry Invitational</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Bye&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Ligers</td>
</tr>
<tr><td colspan="8"><h5>Round 5</h5></td></tr><tr>
<td>12/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Geckos&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Ultimo Black Knights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Ligers</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tuncurry Invitational</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Bye&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Toxteth Tornadoes</td>
</tr>
<tr><td colspan="8"><h5>Round 6</h5></td></tr><tr>
<td>19/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Toxteth Tornadoes</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Ligers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Geckos&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Ultimo Black Knights&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bye</td>
</tr>
<tr><td colspan="8"><h5>Round 7</h5></td></tr><tr>
<td>26/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Toxteth Tornadoes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Ligers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Geckos&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ultimo Black Knights</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bye</td>
</tr>
<tr><td colspan="8"><h5>Round 10</h5></td></tr><tr>
<td>23/06/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Toxteth Tornadoes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Geckos</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Ultimo Black Knights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>The Ligers&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bye</td>
</tr>
<tr><td colspan="8"><h5>Round 11</h5></td></tr><tr>
<td>30/06/2008</td><td align=center>6:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Irukandji&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Geckos</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>7:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Ligers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ultimo Black Knights</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>8:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Toxteth Tornadoes&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bye</td>
</tr>
<tr><td colspan="8"><h5>Round 12</h5></td></tr><tr>
<td>14/07/2008</td><td align=center>6:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Ligers</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>7:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Toxteth Tornadoes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ultimo Black Knights</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>8:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Irukandji&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Bye&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Geckos</td>
</tr>
<tr><td colspan="8"><h5>Round 13</h5></td></tr><tr>
<td>21/07/2008</td><td align=center>6:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Toxteth Tornadoes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tuncurry Invitational</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>7:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Irukandji&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Ligers</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>8:00 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Geckos</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Bye&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ultimo Black Knights</td>
</tr>
<tr><td colspan="8"><h5>Round 14</h5></td></tr><tr>
<td>28/07/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Irukandji&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Toxteth Tornadoes</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Ligers</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Ultimo Black Knights&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Geckos</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Bye&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tuncurry Invitational</td>
</tr>
<tr><td colspan="8"><h5>Round 8</h5></td></tr><tr>
<td>04/08/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Toxteth Tornadoes</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Ultimo Black Knights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tuncurry Invitational</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Ligers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Geckos</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>Bye&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
<tr><td colspan="8"><h5>Round 9</h5></td></tr><tr>
<td>11/08/2008</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Ligers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Toxteth Tornadoes</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Ultimo Black Knights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>8:15 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Geckos</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bye</td>
</tr>
<tr><td colspan="8"><h5>Semi Finals</h5></td></tr><tr>
<td>Semi Finals</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Toxteth Tornadoes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
<tr>
<td>Semi Finals</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Geckos</td>
</tr>
<tr><td colspan="8"><h5>Final</h5></td></tr><tr>
<td>Final</td><td align=center>6:45 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>The Geckos&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Toxteth Tornadoes</td>
</tr>
<tr>
<td>Final</td><td align=center>7:30 PM</td>
<td align=center>Federal Reserve</td>
<td align=right>Tuncurry Invitational&nbsp;&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Irukandji</td>
</tr>
</table>

<table id="comp_33" class="upcoming-games" width="100%">
<tr><td colspan="8"><h5>Round 1</h5></td></tr><tr>
<td>31/03/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Barry Attlers</td>
</tr>
<tr><td colspan="8"><h5>Round 2</h5></td></tr><tr>
<td>07/04/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ninja Turtles</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Barry Attlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tribe-adega Nights</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Phagocytes</td>
</tr>
<tr><td colspan="8"><h5>Round 3</h5></td></tr><tr>
<td>28/04/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Phagocytes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Wimbaway&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tribe-adega Nights</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Barry Attlers</td>
</tr>
<tr><td colspan="8"><h5>Round 4</h5></td></tr><tr>
<td>05/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Wimbaway&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Phagocytes</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Barry Attlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ninja Turtles</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tribe-adega Nights</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;White Devils</td>
</tr>
<tr><td colspan="8"><h5>Round 5</h5></td></tr><tr>
<td>12/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Barry Attlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;White Devils</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Phagocytes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ninja Turtles</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Wimbaway&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tribe-adega Nights</td>
</tr>
<tr><td colspan="8"><h5>Round 6</h5></td></tr><tr>
<td>19/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>White Devils&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ninja Turtles</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Tribe-adega Nights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Phagocytes</td>
</tr>
<tr><td colspan="8"><h5>Round 7</h5></td></tr><tr>
<td>26/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Phagocytes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Barry Attlers</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Tribe-adega Nights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;White Devils</td>
</tr>
<tr><td colspan="8"><h5>Round 8</h5></td></tr><tr>
<td>02/06/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>White Devils&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>02/06/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Tribe-adega Nights&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Barry Attlers</td>
</tr>
<tr>
<td>02/06/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Phagocytes</td>
</tr>
<tr>
<td>02/06/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr><td colspan="8"><h5>Round 10</h5></td></tr><tr>
<td>23/06/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Phagocytes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(10)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Wimbaway&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Barry Attlers</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;White Devils</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Tribe-adega Nights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Voltron Lion Force</td>
</tr>
<tr><td colspan="8"><h5>Round 11</h5></td></tr><tr>
<td>30/06/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>White Devils&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Voltron Lion Force</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Barry Attlers</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Tribe-adega Nights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>8:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Phagocytes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr><td colspan="8"><h5>Round 12</h5></td></tr><tr>
<td>14/07/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>White Devils&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Barry Attlers</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Voltron Lion Force</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Phagocytes</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>8:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Tribe-adega Nights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr><td colspan="8"><h5>Round 13</h5></td></tr><tr>
<td>21/07/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>White Devils&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Phagocytes</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Barry Attlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Voltron Lion Force</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>8:00 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Tribe-adega Nights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ninja Turtles</td>
</tr>
<tr><td colspan="8"><h5>Round 14</h5></td></tr><tr>
<td>28/07/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Ninja Turtles</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Barry Attlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Phagocytes</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>White Devils&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tribe-adega Nights</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Wimbaway&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Voltron Lion Force</td>
</tr>
<tr><td colspan="8"><h5>Round 15</h5></td></tr><tr>
<td>04/08/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>White Devils&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Tribe-adega Nights&nbsp;&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Barry Attlers</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Phagocytes</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr><td colspan="8"><h5>Round 9</h5></td></tr><tr>
<td>11/08/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Barry Attlers&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Voltron Lion Force</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Wimbaway&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;White Devils</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Phagocytes&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tribe-adega Nights</td>
</tr>
<tr><td colspan="8"><h5>Semi Finals</h5></td></tr><tr>
<td>Semi Finals</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Voltron Lion Force&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Tribe-adega Nights</td>
</tr>
<tr>
<td>Semi Finals</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Wimbaway</td>
</tr>
<tr><td colspan="8"><h5>Final</h5></td></tr><tr>
<td>Final</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Ninja Turtles&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Voltron Lion Force</td>
</tr>
</table>

<table id="comp_34" class="upcoming-games" width="100%">
<tr><td colspan="8"><h5>Round 1</h5></td></tr><tr>
<td>31/03/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(13)&nbsp;</td>
<td align=left>&nbsp;&nbsp;White Devils</td>
</tr>
<tr>
<td>31/03/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
<tr><td colspan="8"><h5>Round 2</h5></td></tr><tr>
<td>07/04/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Nimrods</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>White Devils&nbsp;&nbsp;</td>
<td align=center>&nbsp;(13)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;J-Touch</td>
</tr>
<tr>
<td>07/04/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Mint Condition&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;OK Go</td>
</tr>
<tr><td colspan="8"><h5>Round 3</h5></td></tr><tr>
<td>28/04/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Nimrods&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;OK Go</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Flying Andrews&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bring on the Grog</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>J-Touch&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>28/04/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Mint Condition&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(10)&nbsp;</td>
<td align=left>&nbsp;&nbsp;White Devils</td>
</tr>
<tr><td colspan="8"><h5>Round 4</h5></td></tr><tr>
<td>05/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;OK Go</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Nimrods</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Mint Condition&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bring on the Grog</td>
</tr>
<tr>
<td>05/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>J-Touch&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
<tr><td colspan="8"><h5>Round 5</h5></td></tr><tr>
<td>12/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bring on the Grog</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Flying Andrews&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Nimrods</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Mint Condition&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>12/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>J-Touch&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;OK Go</td>
</tr>
<tr><td colspan="8"><h5>Round 6</h5></td></tr><tr>
<td>19/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;J-Touch</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Mint Condition&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Nimrods</td>
</tr>
<tr>
<td>19/05/2008</td><td align=center>&nbsp;</td>
<td align=center>&nbsp;</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;-&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bye</td>
</tr>
<tr><td colspan="8"><h5>Round 7</h5></td></tr><tr>
<td>26/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Nimrods&nbsp;&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bring on the Grog</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Flying Andrews&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>26/05/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Mint Condition&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;J-Touch</td>
</tr>
<tr><td colspan="8"><h5>Round 8</h5></td></tr><tr>
<td>02/06/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>02/06/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>02/06/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Nimrods&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;J-Touch</td>
</tr>
<tr>
<td>02/06/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Mint Condition&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
<tr><td colspan="8"><h5>Round 10</h5></td></tr><tr>
<td>23/06/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Nimrods&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bring on the Grog</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>J-Touch&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Flying Andrews&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>23/06/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Mint Condition</td>
</tr>
<tr><td colspan="8"><h5>Round 11</h5></td></tr><tr>
<td>30/06/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Nimrods&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Mint Condition</td>
</tr>
<tr>
<td>30/06/2008</td><td align=center>8:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Flying Andrews&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;J-Touch</td>
</tr>
<tr><td colspan="8"><h5>Round 12</h5></td></tr><tr>
<td>14/07/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Nimrods&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;J-Touch</td>
</tr>
<tr>
<td>14/07/2008</td><td align=center>8:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Mint Condition</td>
</tr>
<tr><td colspan="8"><h5>Round 13</h5></td></tr><tr>
<td>21/07/2008</td><td align=center>6:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Nimrods</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;J-Touch</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>7:15 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Mint Condition</td>
</tr>
<tr>
<td>21/07/2008</td><td align=center>8:00 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
<tr><td colspan="8"><h5>Round 14</h5></td></tr><tr>
<td>28/07/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Notre Dame Med&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Nimrods</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;OK Go</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
<tr>
<td>28/07/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>J-Touch&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Mint Condition</td>
</tr>
<tr><td colspan="8"><h5>Round 15</h5></td></tr><tr>
<td>04/08/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Nimrods&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;J-Touch</td>
</tr>
<tr>
<td>04/08/2008</td><td align=center>8:15 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>Mint Condition&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
<tr><td colspan="8"><h5>Round 9</h5></td></tr><tr>
<td>11/08/2008</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>UTS Lizards&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Notre Dame Med</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 2</td>
<td align=right>J-Touch&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Bring on the Grog</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Flying Andrews&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;OK Go</td>
</tr>
<tr>
<td>11/08/2008</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>Nimrods&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Mint Condition</td>
</tr>
<tr><td colspan="8"><h5>Semi Finals</h5></td></tr><tr>
<td>Semi Finals</td><td align=center>6:45 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Flying Andrews&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Nimrods</td>
</tr>
<tr>
<td>Semi Finals</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 3</td>
<td align=right>Bring on the Grog&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;OK Go</td>
</tr>
<tr><td colspan="8"><h5>Final</h5></td></tr><tr>
<td>Final</td><td align=center>7:30 PM</td>
<td align=center>Jubilee Oval 1</td>
<td align=right>OK Go&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Flying Andrews</td>
</tr>
</table>

<table id="comp_36" class="upcoming-games" width="100%">
<tr><td colspan="8"><h5>Round 1</h5></td></tr><tr>
<td>02/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;(14)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
<tr>
<td>02/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>Archi Crew&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 2</td>
</tr>
<tr>
<td>02/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>The Fridays&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Team Ramrod</td>
</tr>
<tr>
<td>02/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>UTS Lizards 1&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titserschiht</td>
</tr>
<tr><td colspan="8"><h5>Round 2</h5></td></tr><tr>
<td>09/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>Team Ramrod&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
<tr>
<td>09/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>UTS Lizards 1&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Archi Crew</td>
</tr>
<tr>
<td>09/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>The Fridays&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 2</td>
</tr>
<tr>
<td>09/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;(11)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titserschiht</td>
</tr>
<tr><td colspan="8"><h5>Round 3</h5></td></tr><tr>
<td>16/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>AIME All Stars&nbsp;&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 2</td>
</tr>
<tr>
<td>16/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>The Fridays&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Archi Crew</td>
</tr>
<tr>
<td>16/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>Team Ramrod&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titserschiht</td>
</tr>
<tr>
<td>16/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>UTS Lizards 1&nbsp;&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(13)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titsergud</td>
</tr>
<tr><td colspan="8"><h5>Round 4</h5></td></tr><tr>
<td>23/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>AIME All Stars&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Archi Crew</td>
</tr>
<tr>
<td>23/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>UTS Lizards 2&nbsp;&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(9)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titserschiht</td>
</tr>
<tr>
<td>23/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>Team Ramrod&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(12)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titsergud</td>
</tr>
<tr>
<td>23/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>UTS Lizards 1&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Fridays</td>
</tr>
<tr><td colspan="8"><h5>Round 5</h5></td></tr><tr>
<td>30/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>AIME All Stars&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Fridays</td>
</tr>
<tr>
<td>30/05/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>UTS Lizards 2&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titsergud</td>
</tr>
<tr>
<td>30/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>UTS Lizards 1&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Team Ramrod</td>
</tr>
<tr>
<td>30/05/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>Titserschiht&nbsp;&nbsp;</td>
<td align=center>&nbsp;(10)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Archi Crew</td>
</tr>
<tr><td colspan="8"><h5>Round 7</h5></td></tr><tr>
<td>13/06/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>Archi Crew&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Team Ramrod</td>
</tr>
<tr>
<td>13/06/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>UTS Lizards 1&nbsp;&nbsp;</td>
<td align=center>&nbsp;(3)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 2</td>
</tr>
<tr>
<td>13/06/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Fridays</td>
</tr>
<tr>
<td>13/06/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titserschiht&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(1)&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
<tr><td colspan="8"><h5>Round 9</h5></td></tr><tr>
<td>27/06/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>AIME All Stars&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Team Ramrod</td>
</tr>
<tr>
<td>27/06/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>Archi Crew&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 1</td>
</tr>
<tr>
<td>27/06/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>UTS Lizards 2&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Fridays</td>
</tr>
<tr>
<td>27/06/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titserschiht&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titsergud</td>
</tr>
<tr><td colspan="8"><h5>Round 10</h5></td></tr><tr>
<td>04/07/2008</td><td align=center>6:20 PM</td>
<td align=center>The Square 2</td>
<td align=right>UTS Lizards 2&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
<tr>
<td>04/07/2008</td><td align=center>6:20 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 1</td>
</tr>
<tr>
<td>04/07/2008</td><td align=center>6:55 PM</td>
<td align=center>The Square 1</td>
<td align=right>Archi Crew&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titsergud</td>
</tr>
<tr>
<td>04/07/2008</td><td align=center>6:55 PM</td>
<td align=center>The Square 2</td>
<td align=right>UTS Lizards 1&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
<tr>
<td>04/07/2008</td><td align=center>7:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>UTS Lizards 2&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Team Ramrod</td>
</tr>
<tr>
<td>04/07/2008</td><td align=center>7:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titserschiht&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Fridays</td>
</tr>
<tr>
<td>04/07/2008</td><td align=center>8:05 PM</td>
<td align=center>The Square 2</td>
<td align=right>Archi Crew&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Fridays</td>
</tr>
<tr>
<td>04/07/2008</td><td align=center>8:05 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titserschiht&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Team Ramrod</td>
</tr>
<tr><td colspan="8"><h5>Round 11</h5></td></tr><tr>
<td>11/07/2008</td><td align=center>6:20 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Team Ramrod</td>
</tr>
<tr>
<td>11/07/2008</td><td align=center>6:20 PM</td>
<td align=center>The Square 2</td>
<td align=right>Archi Crew&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
<tr>
<td>11/07/2008</td><td align=center>6:55 PM</td>
<td align=center>The Square 1</td>
<td align=right>Team Ramrod&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;The Fridays</td>
</tr>
<tr>
<td>11/07/2008</td><td align=center>6:55 PM</td>
<td align=center>The Square 2</td>
<td align=right>AIME All Stars&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titsergud</td>
</tr>
<tr>
<td>11/07/2008</td><td align=center>7:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>UTS Lizards 2&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Archi Crew</td>
</tr>
<tr>
<td>11/07/2008</td><td align=center>7:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titserschiht&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 1</td>
</tr>
<tr>
<td>11/07/2008</td><td align=center>8:05 PM</td>
<td align=center>The Square 2</td>
<td align=right>The Fridays&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 1</td>
</tr>
<tr>
<td>11/07/2008</td><td align=center>8:05 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titserschiht&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 2</td>
</tr>
<tr><td colspan="8"><h5>Round 12</h5></td></tr><tr>
<td>18/07/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>Team Ramrod&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 1</td>
</tr>
<tr>
<td>18/07/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>Archi Crew&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titserschiht</td>
</tr>
<tr>
<td>18/07/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>The Fridays&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
<tr>
<td>18/07/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 2</td>
</tr>
<tr><td colspan="8"><h5>Round 13</h5></td></tr><tr>
<td>25/07/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Archi Crew</td>
</tr>
<tr>
<td>25/07/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>AIME All Stars&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 1</td>
</tr>
<tr>
<td>25/07/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>Team Ramrod&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 2</td>
</tr>
<tr>
<td>25/07/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>The Fridays&nbsp;&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titserschiht</td>
</tr>
<tr><td colspan="8"><h5>Round 14</h5></td></tr><tr>
<td>01/08/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 2</td>
<td align=right>AIME All Stars&nbsp;&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titserschiht</td>
</tr>
<tr>
<td>01/08/2008</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>UTS Lizards 2&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 1</td>
</tr>
<tr>
<td>01/08/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 2</td>
<td align=right>The Fridays&nbsp;&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Titsergud</td>
</tr>
<tr>
<td>01/08/2008</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>Team Ramrod&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(0)&nbsp;</td>
<td align=left>&nbsp;&nbsp;Archi Crew</td>
</tr>
<tr><td colspan="8"><h5>Semi Final</h5></td></tr><tr>
<td>Semi Final</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titserschiht&nbsp;&nbsp;</td>
<td align=center>&nbsp;(5)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(6)&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
<tr>
<td>Semi Final</td><td align=center>7:15 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;(8)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(2)&nbsp;</td>
<td align=left>&nbsp;&nbsp;UTS Lizards 1</td>
</tr>
<tr><td colspan="8"><h5>Final</h5></td></tr><tr>
<td>Final</td><td align=center>6:30 PM</td>
<td align=center>The Square 1</td>
<td align=right>Titsergud&nbsp;&nbsp;</td>
<td align=center>&nbsp;(4)&nbsp;</td>
<td align=center>&nbsp;vs&nbsp;</td>
<td align=center>&nbsp;(7)&nbsp;</td>
<td align=left>&nbsp;&nbsp;AIME All Stars</td>
</tr>
</table>
