<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=us-ascii" http-equiv="Content-Type" />

  <title>{{ site.name }}</title>
  <style type="text/css">
/*<![CDATA[*/
  a:hover { text-decoration: none !important; }
  #footer a:visited { text-decoration: none !important; color: #000 !important; }
  #footer a:hover { text-decoration: underline !important; }
/*]]>*/
  </style>
</head>

<body style="font-size: 12px; margin: 0 0 50px; color: #fff; background: #0c3e7b url('http://{{ site.domain }}{{ STATIC_URL }}images/email/bg-spacer.jpg') repeat-x top left; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;">
  <table bgcolor="#0C3E7B" cellspacing="0" id="bodywrapper" border="0" cellpadding="0" style="font-size: 12px Arial, Helvetica, sans-serif; margin: 0; background: #0c3e7b url('http://{{ site.domain }}{{ STATIC_URL }}images/email/bg-spacer.jpg') repeat-x top left; border: 0; padding: 0;" width="100%">
    <tr style="margin: 0; border: 0; padding: 0;">
      <td style="font-size: 12px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;">
        <center>
          <table cellspacing="0" id="wrapper" border="0" cellpadding="0" style="font-size: 12px Arial, Helvetica, sans-serif; margin: 0; border: 0; padding: 0; text-align: left; width: 650px;">
            <tr style="margin: 0; border: 0; padding: 0;">
              <td id="header" style="font-size: 12px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; height: 105px;"><img src="http://{{ site.domain }}{{ STATIC_URL }}images/email/header.jpg" height="105" alt="{{ site.name }}" style="margin: 0; border: 0; padding: 0; vertical-align: top;" width="660" /></td>
            </tr>

            <tr style="margin: 0; border: 0; padding: 0;">
              <td id="header-bar" style="font-size: 12px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; height: 30px;"><img src="http://{{ site.domain }}{{ STATIC_URL }}images/email/header-bar.jpg" height="30" alt="" style="margin: 0; border: 0; padding: 0; vertical-align: top;" width="660" /></td>
            </tr>

            <tr style="margin: 0; border: 0; padding: 0;">
              <td id="shadow" style="font-size: 12px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; height: 16px;"><img src="http://{{ site.domain }}{{ STATIC_URL }}images/email/shadow.jpg" height="16" alt="" style="margin: 0; border: 0; padding: 0; vertical-align: top;" width="660" /></td>
            </tr>

            <tr style="margin: 0; border: 0; padding: 0;">
              <td id="content" style="font-size: 12px; margin: 0; color: #000; background: #fff; border: 0; padding: 5px 20px 10px; font-family: Arial, Helvetica, sans-serif;">
                <h1 style="font-weight: bold; font-size: 1.8em; margin: 0 0 0.8em; line-height: 1.2em;">{{ subject }}</h1>
{% block content %}{{ content }}{% endblock %}
              </td>
            </tr>

            <tr style="margin: 0; border: 0; padding: 0;">
              <td id="footer" style="font-size: 10px; margin: 0; background: #FFC425; border: 0; padding: 6px 10px; font-family: Arial, Helvetica, sans-serif;">
                <table cellspacing="0" border="0" cellpadding="0" style="font-size: 12px Arial, Helvetica, sans-serif; margin: 0; border: 0; padding: 0;" width="100%">
                  <tr style="margin: 0; border: 0; padding: 0;">
                    <td id="links" style="font-size: 10px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; text-align: right;">
						    <a href="http://www.sydney.touch.asn.au/" style="text-decoration: none; color: #000;" target="_blank">Home</a> | 
							 <a href="http://www.sydney.touch.asn.au/photos/" style="text-decoration: none; color: #000;" target="_blank">Photo Gallery</a> | 
							 <a href="http://www.sydney.touch.asn.au/events/" style="text-decoration: none; color: #000;" target="_blank">Event Calendar</a> | 
							 <a href="http://www.sydney.touch.asn.au/forum/" style="text-decoration: none; color: #000;" target="_blank">Message Board</a> | 
							 <a href="http://www.sydney.touch.asn.au/store/" style="text-decoration: none; color: #000;" target="_blank">Online Store</a> | 
							 <a href="http://www.sydney.touch.asn.au/login/" style="text-decoration: none; color: #000;" target="_blank">Login</a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
