{% extends "base.html" %}

{% load competition news_extras %}

{% block extra_head %}
	<style type="text/css">
		.upcoming-games-container .buttons {
			position: absolute;
			bottom: 84px;
			right: 281px;
		}
		.upcoming-games-container .buttons .button {
			background-color: #333;
			border-color: #fff;
			color: #eee;
		}
		.upcoming-games-container .buttons .button:hover {
			border-color: gold;
		}

		table.upcoming-games td { padding-bottom: 6px; }

		/* dynamically overload the join-banner image */
		.banner.upcoming-games-container {
			background-image: url({{ STATIC_URL }}images/join-banner{{ "122233344"|make_list|random }}.jpg);
		}
	</style>
{% endblock %}

{% block content %}
	{% upcoming "days" "7" %}

	{% for story in story_list %}
		<div style="position: relative;">
			<h4><span class="truncated" title="{{ story.title|escape }}">{{ story.title|upper }}</span></h4>
			<div class="bordered padded white story">
				{% if story.category.icon %}
					<div class="topic-icon right" title="{{ story }}" style="background: transparent url({{ STATIC_URL }}{{ story.category.icon }}) 50% 0 no-repeat;"></div>
				{% else %}
					<!-- no topic icon -->
				{% endif %}

				{{ story.short_version|safe }}
			</div>
			<div class="post-footer">Posted by <a href="/users/{{ story.posted_by.username }}/">{{ story.posted_by.username }}</a> on {{ story.publish|date:"D, jS N Y @ H:i" }} (<a href="/news/{{ story.publish|date:"Y/b/d" }}/{{ story.slug }}/">Full Story</a>)</div>
		</div>
	{% endfor %}

{% endblock %}

