<h5>Super-7</h5>
<table width="98%" border="0" cellpadding="2" cellspacing="0" align="center">
<tr>
<td width="5%" align="center"><b>Pos</b></td>
<td><b>Team</b></td>
<td width="5%" align="center"><b>P</b></td>
<td width="5%" align="center"><b>W</b></td>
<td width="5%" align="center"><b>L</b></td>
<td width="5%" align="center"><b>D</b></td>
<td width="5%" align="center"><b>B</b></td>
<td width="5%" align="center"><b>FF</b></td>
<td width="5%" align="center"><b>+</b></td>
<td width="5%" align="center"><b>-</b></td>
<td width="5%" align="center"><b>+/-</b></td>
<td width="5%" align="center"><b>BP</b></td>
<td width="5%" align="center"><b>Pts</b></td>
</tr>
<tr>
<td align="center">1</td>
<td>Tuncurry Invitational</td>
<td align="center">13</td>
<td align="center">8</td>
<td align="center">2</td>
<td align="center">2</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">66</td>
<td align="center">45</td>
<td align="center">21</td>
<td align="center">2</td>
<td align="center">42</td>
</tr>
<tr>
<td align="center">2</td>
<td>Toxteth Tornadoes</td>
<td align="center">13</td>
<td align="center">6</td>
<td align="center">3</td>
<td align="center">2</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">58</td>
<td align="center">47</td>
<td align="center">11</td>
<td align="center">2</td>
<td align="center">38</td>
</tr>
<tr>
<td align="center">3</td>
<td>Irukandji</td>
<td align="center">13</td>
<td align="center">6</td>
<td align="center">5</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">49</td>
<td align="center">54</td>
<td align="center">-5</td>
<td align="center">2</td>
<td align="center">34</td>
</tr>
<tr>
<td align="center">4</td>
<td>The Geckos</td>
<td align="center">13</td>
<td align="center">5</td>
<td align="center">5</td>
<td align="center">1</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">45</td>
<td align="center">44</td>
<td align="center">1</td>
<td align="center">4</td>
<td align="center">34</td>
</tr>
<tr>
<td align="center">5</td>
<td>UTS Lizards</td>
<td align="center">13</td>
<td align="center">4</td>
<td align="center">5</td>
<td align="center">2</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">55</td>
<td align="center">57</td>
<td align="center">-2</td>
<td align="center">3</td>
<td align="center">31</td>
</tr>
<tr>
<td align="center">6</td>
<td>The Ligers</td>
<td align="center">13</td>
<td align="center">3</td>
<td align="center">8</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">52</td>
<td align="center">60</td>
<td align="center">-8</td>
<td align="center">7</td>
<td align="center">27</td>
</tr>
<tr>
<td align="center">7</td>
<td>Ultimo Black Knights</td>
<td align="center">13</td>
<td align="center">3</td>
<td align="center">6</td>
<td align="center">1</td>
<td align="center">2</td>
<td align="center">1</td>
<td align="center">41</td>
<td align="center">59</td>
<td align="center">-18</td>
<td align="center">3</td>
<td align="center">24</td>
</tr>
</table><h5>Division 2</h5>
<table width="98%" border="0" cellpadding="2" cellspacing="0" align="center">
<tr>
<td width="5%" align="center"><b>Pos</b></td>
<td><b>Team</b></td>
<td width="5%" align="center"><b>P</b></td>
<td width="5%" align="center"><b>W</b></td>
<td width="5%" align="center"><b>L</b></td>
<td width="5%" align="center"><b>D</b></td>
<td width="5%" align="center"><b>B</b></td>
<td width="5%" align="center"><b>FF</b></td>
<td width="5%" align="center"><b>+</b></td>
<td width="5%" align="center"><b>-</b></td>
<td width="5%" align="center"><b>+/-</b></td>
<td width="5%" align="center"><b>BP</b></td>
<td width="5%" align="center"><b>Pts</b></td>
</tr>
<tr>
<td align="center">1</td>
<td>Ninja Turtles</td>
<td align="center">12</td>
<td align="center">11</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">70</td>
<td align="center">30</td>
<td align="center">40</td>
<td align="center">2</td>
<td align="center">46</td>
</tr>
<tr>
<td align="center">2</td>
<td>Tribe-adega Nights</td>
<td align="center">12</td>
<td align="center">10</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">62</td>
<td align="center">39</td>
<td align="center">23</td>
<td align="center">2</td>
<td align="center">42</td>
</tr>
<tr>
<td align="center">3</td>
<td>Voltron Lion Force</td>
<td align="center">12</td>
<td align="center">8</td>
<td align="center">4</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">55</td>
<td align="center">44</td>
<td align="center">11</td>
<td align="center">3</td>
<td align="center">35</td>
</tr>
<tr>
<td align="center">4</td>
<td>Wimbaway</td>
<td align="center">12</td>
<td align="center">6</td>
<td align="center">6</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">49</td>
<td align="center">50</td>
<td align="center">-1</td>
<td align="center">3</td>
<td align="center">27</td>
</tr>
<tr>
<td align="center">5</td>
<td>Barry Attlers</td>
<td align="center">12</td>
<td align="center">5</td>
<td align="center">6</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">54</td>
<td align="center">64</td>
<td align="center">-10</td>
<td align="center">3</td>
<td align="center">25</td>
</tr>
<tr>
<td align="center">6</td>
<td>White Devils</td>
<td align="center">13</td>
<td align="center">4</td>
<td align="center">8</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">74</td>
<td align="center">65</td>
<td align="center">9</td>
<td align="center">4</td>
<td align="center">22</td>
</tr>
<tr>
<td align="center">7</td>
<td>Phagocytes</td>
<td align="center">12</td>
<td align="center">3</td>
<td align="center">8</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">46</td>
<td align="center">57</td>
<td align="center">-11</td>
<td align="center">6</td>
<td align="center">17</td>
</tr>
<tr>
<td align="center">8</td>
<td>Notre Dame Med</td>
<td align="center">12</td>
<td align="center">3</td>
<td align="center">9</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">26</td>
<td align="center">47</td>
<td align="center">-21</td>
<td align="center">5</td>
<td align="center">17</td>
</tr>
</table><h5>Division 3</h5>
<table width="98%" border="0" cellpadding="2" cellspacing="0" align="center">
<tr>
<td width="5%" align="center"><b>Pos</b></td>
<td><b>Team</b></td>
<td width="5%" align="center"><b>P</b></td>
<td width="5%" align="center"><b>W</b></td>
<td width="5%" align="center"><b>L</b></td>
<td width="5%" align="center"><b>D</b></td>
<td width="5%" align="center"><b>B</b></td>
<td width="5%" align="center"><b>FF</b></td>
<td width="5%" align="center"><b>+</b></td>
<td width="5%" align="center"><b>-</b></td>
<td width="5%" align="center"><b>+/-</b></td>
<td width="5%" align="center"><b>BP</b></td>
<td width="5%" align="center"><b>Pts</b></td>
</tr>
<tr>
<td align="center">1</td>
<td>Bring on the Grog</td>
<td align="center">12</td>
<td align="center">9</td>
<td align="center">3</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">57</td>
<td align="center">26</td>
<td align="center">31</td>
<td align="center">3</td>
<td align="center">39</td>
</tr>
<tr>
<td align="center">2</td>
<td>Flying Andrews</td>
<td align="center">12</td>
<td align="center">7</td>
<td align="center">2</td>
<td align="center">3</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">58</td>
<td align="center">33</td>
<td align="center">25</td>
<td align="center">2</td>
<td align="center">36</td>
</tr>
<tr>
<td align="center">3</td>
<td>Nimrods</td>
<td align="center">12</td>
<td align="center">8</td>
<td align="center">2</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">55</td>
<td align="center">35</td>
<td align="center">20</td>
<td align="center">1</td>
<td align="center">34</td>
</tr>
<tr>
<td align="center">4</td>
<td>OK Go</td>
<td align="center">12</td>
<td align="center">6</td>
<td align="center">4</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">40</td>
<td align="center">48</td>
<td align="center">-8</td>
<td align="center">0</td>
<td align="center">28</td>
</tr>
<tr>
<td align="center">5</td>
<td>UTS Lizards</td>
<td align="center">12</td>
<td align="center">3</td>
<td align="center">6</td>
<td align="center">1</td>
<td align="center">1</td>
<td align="center">1</td>
<td align="center">38</td>
<td align="center">49</td>
<td align="center">-11</td>
<td align="center">3</td>
<td align="center">20</td>
</tr>
<tr>
<td align="center">6</td>
<td>J-Touch</td>
<td align="center">12</td>
<td align="center">4</td>
<td align="center">7</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">37</td>
<td align="center">64</td>
<td align="center">-27</td>
<td align="center">0</td>
<td align="center">18</td>
</tr>
<tr>
<td align="center">7</td>
<td>Mint Condition</td>
<td align="center">12</td>
<td align="center">1</td>
<td align="center">9</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">28</td>
<td align="center">60</td>
<td align="center">-32</td>
<td align="center">3</td>
<td align="center">11</td>
</tr>
<tr>
<td align="center">8</td>
<td>Notre Dame Med</td>
<td align="center">12</td>
<td align="center">2</td>
<td align="center">10</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">31</td>
<td align="center">69</td>
<td align="center">-38</td>
<td align="center">2</td>
<td align="center">10</td>
</tr>
</table><h5>Student League</h5>
<table width="98%" border="0" cellpadding="2" cellspacing="0" align="center">
<tr>
<td width="5%" align="center"><b>Pos</b></td>
<td><b>Team</b></td>
<td width="5%" align="center"><b>P</b></td>
<td width="5%" align="center"><b>W</b></td>
<td width="5%" align="center"><b>L</b></td>
<td width="5%" align="center"><b>D</b></td>
<td width="5%" align="center"><b>B</b></td>
<td width="5%" align="center"><b>FF</b></td>
<td width="5%" align="center"><b>+</b></td>
<td width="5%" align="center"><b>-</b></td>
<td width="5%" align="center"><b>+/-</b></td>
<td width="5%" align="center"><b>BP</b></td>
<td width="5%" align="center"><b>Pts</b></td>
</tr>
<tr>
<td align="center">1</td>
<td>Lilyfield Lightening</td>
<td align="center">10</td>
<td align="center">9</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">77</td>
<td align="center">25</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">38</td>
</tr>
<tr>
<td align="center">2</td>
<td>The Brown Team</td>
<td align="center">10</td>
<td align="center">8</td>
<td align="center">1</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">64</td>
<td align="center">34</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">36</td>
</tr>
<tr>
<td align="center">3</td>
<td>Darlington Demons</td>
<td align="center">10</td>
<td align="center">8</td>
<td align="center">1</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">61</td>
<td align="center">33</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">36</td>
</tr>
<tr>
<td align="center">4</td>
<td>Forest Lodge Fire</td>
<td align="center">10</td>
<td align="center">5</td>
<td align="center">4</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">49</td>
<td align="center">53</td>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">23</td>
</tr>
<tr>
<td align="center">5</td>
<td>Wesley College</td>
<td align="center">10</td>
<td align="center">4</td>
<td align="center">4</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">34</td>
<td align="center">34</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">19</td>
</tr>
<tr>
<td align="center">6</td>
<td>Rozelle Rangers</td>
<td align="center">10</td>
<td align="center">2</td>
<td align="center">8</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">26</td>
<td align="center">60</td>
<td align="center">0</td>
<td align="center">3</td>
<td align="center">11</td>
</tr>
<tr>
<td align="center">7</td>
<td>Broadway Brawlers</td>
<td align="center">10</td>
<td align="center">2</td>
<td align="center">6</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">31</td>
<td align="center">57</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">8</td>
</tr>
<tr>
<td align="center">8</td>
<td>Chippendale Chargers</td>
<td align="center">10</td>
<td align="center">0</td>
<td align="center">9</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">33</td>
<td align="center">79</td>
<td align="center">0</td>
<td align="center">3</td>
<td align="center">2</td>
</tr>
</table><h5>Friday Mixed</h5>
<table width="98%" border="0" cellpadding="2" cellspacing="0" align="center">
<tr>
<td width="5%" align="center"><b>Pos</b></td>
<td><b>Team</b></td>
<td width="5%" align="center"><b>P</b></td>
<td width="5%" align="center"><b>W</b></td>
<td width="5%" align="center"><b>L</b></td>
<td width="5%" align="center"><b>D</b></td>
<td width="5%" align="center"><b>B</b></td>
<td width="5%" align="center"><b>FF</b></td>
<td width="5%" align="center"><b>+</b></td>
<td width="5%" align="center"><b>-</b></td>
<td width="5%" align="center"><b>+/-</b></td>
<td width="5%" align="center"><b>BP</b></td>
<td width="5%" align="center"><b>Pts</b></td>
</tr>
<tr>
<td align="center">1</td>
<td>Titsergud</td>
<td align="center">9</td>
<td align="center">9</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">82</td>
<td align="center">25</td>
<td align="center">57</td>
<td align="center">0</td>
<td align="center">36</td>
</tr>
<tr>
<td align="center">2</td>
<td>Titserschiht</td>
<td align="center">9</td>
<td align="center">7</td>
<td align="center">2</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">59</td>
<td align="center">32</td>
<td align="center">27</td>
<td align="center">1</td>
<td align="center">29</td>
</tr>
<tr>
<td align="center">3</td>
<td>AIME All Stars</td>
<td align="center">9</td>
<td align="center">4</td>
<td align="center">5</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">45</td>
<td align="center">51</td>
<td align="center">-6</td>
<td align="center">1</td>
<td align="center">17</td>
</tr>
<tr>
<td align="center">4</td>
<td>UTS Lizards 1</td>
<td align="center">8</td>
<td align="center">4</td>
<td align="center">3</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">26</td>
<td align="center">40</td>
<td align="center">-14</td>
<td align="center">0</td>
<td align="center">17</td>
</tr>
<tr>
<td align="center">5</td>
<td>UTS Lizards 2</td>
<td align="center">8</td>
<td align="center">3</td>
<td align="center">5</td>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">34</td>
<td align="center">38</td>
<td align="center">-4</td>
<td align="center">2</td>
<td align="center">13</td>
</tr>
<tr>
<td align="center">6</td>
<td>Team Ramrod</td>
<td align="center">7</td>
<td align="center">3</td>
<td align="center">3</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">2</td>
<td align="center">33</td>
<td align="center">47</td>
<td align="center">-14</td>
<td align="center">1</td>
<td align="center">13</td>
</tr>
<tr>
<td align="center">7</td>
<td>The Fridays</td>
<td align="center">6</td>
<td align="center">2</td>
<td align="center">3</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">3</td>
<td align="center">36</td>
<td align="center">54</td>
<td align="center">-18</td>
<td align="center">1</td>
<td align="center">8</td>
</tr>
<tr>
<td align="center">8</td>
<td>Archi Crew</td>
<td align="center">6</td>
<td align="center">2</td>
<td align="center">3</td>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">3</td>
<td align="center">28</td>
<td align="center">56</td>
<td align="center">-28</td>
<td align="center">0</td>
<td align="center">7</td>
</tr>
</table>