{% extends "base.html" %}

{% block extra_head %}
	<link href="{{ STATIC_URL }}js/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
	<script src="{{ STATIC_URL }}js/facebox/facebox.js" type="text/javascript"></script>

<script>
	$(document).ready(function(){
		// your code here
		$("h4.upcoming-games").hide();
		$("table.upcoming-games").hide();
		$('a[rel*=facebox]').facebox()
	});

	function switchBlock (block, head) {
		$('.upcoming-games').hide();
		if (head)
			$('h4.upcoming-games').show();
		$(block).show();
		return false;
	}
</script>
{% endblock %}

{% load news_extras %}

{% block content %}
	<h4 class="upcoming-games">UPCOMING GAMES</h4>
	<div class="bordered yellow grad">
			<div class="upcoming-games full" id="join-club">
				<a href="/accounts/register/"><img src="{{ STATIC_URL }}images/join-banner{{ join_banner|random }}.jpg" alt="Join the Club" /></a>
			</div>
{% include "upcoming.html" %}
		<div class="upcoming-games-links padded">
			<strong><a href="" onclick="javascript:return switchBlock('#join-club', false);">Sign-Up</a></strong> &nbsp;|&nbsp;
			<strong>Monday:</strong>
			<a href="#comp_32" rel="facebox">Super-7</a> &nbsp;
			<a href="#comp_33" rel="facebox">Division 2</a> &nbsp;
			<a href="#comp_34" rel="facebox">Division 3</a> &nbsp;
			<a href="#comp_31" rel="facebox">Student League</a> <!--&nbsp;|&nbsp;
			<strong>Friday:</strong>
			<a href="">Division 1</a> &nbsp;
			<a href="">Division 2</a> &nbsp;
			<a href="">Division 3</a>-->
		</div>
	</div>

	{% for story in story_list %}
	{% if forloop.counter0|even %}<div class="left full">{% endif %}
		<div class="half left">
			<h4><span class="truncated" title="{{ story.title|escape }}">{{ story.title|upper|truncatewords:6 }}</span></h4>
			<div class="bordered padded white">
					{% if story.category.icon %}<img class="topic-icon right" src="{{ STATIC_URL }}{{ story.category.icon }}" alt="{{ story }}" />{% else %}<!-- no topic icon -->{% endif %}
					{{ story.short_version|truncatewords_html:40 }}
					<p class="post-footer">Posted by <a href="/users/{{ story.posted_by.username }}/">{{ story.posted_by.username }}</a> on {{ story.publish|date:"D, jS N Y @ H:i" }} (<a href="/news/{{ story.publish|date:"Y/b/d" }}/{{ story.slug }}/">Full Story</a>)
					{% ifnotequal story.revised story.publish %}<br/><strong>Last updated:</strong> {{ story.revised|date:"D, jS N Y @ H:i" }}{% endifnotequal %}</p>
			</div>
		</div>
	{% if forloop.counter|even %}</div>{% endif %}
	{% endfor %}

		<div class="half left">
			<h4>NEWS ARCHIVE</h4>
			<div class="bordered padded yellow grad">
				<p><strong>Year:</strong>
				{% for year in date_list %}<a href="/news/{{ year }}/">{{ year }}</a>{% if not forloop.last %},
				{% else %}.{% endif %}{% endfor %}</p>
				<p><strong>Topic:</strong>
				{% for topic in topic_list %}<a href="/news/{{ topic.slug }}/">{{ topic }}</a>{% if not forloop.last %},
				{% else %}.{% endif %}{% endfor %}</p>
			</div>
		</div>

	</div>

{% endblock %}

