{% extends "base_auth.html" %}

{% block page_title %}
{{ block.super }} &#187; {{ object }}
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="../..">Users</a> &#187; <a href="..">Groups</a> &#187; {{ object }}
{% endblock %}

{% block content %}

		<h3>{{ object }}</h3>
		<div class="bordered padded yellow grad">
			<h5>Users in Group</h5>
			<ul>{% for user in object.user_set.all %}
				<li><a href="../../{{ user }}/">{{ user }}</a>{% if user.get_full_name|length %} ({{ user.get_full_name }}){% endif %}</li>{% endfor %}
			</ul>
		</div>

{% endblock %}
