{% extends "base_auth.html" %}

{% block page_title %}
{{ block.super }} &#187; Groups
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="..">Users</a> &#187; Groups
{% endblock %}

{% block content %}
	<h3>GROUP LIST</h3>
	<div class="bordered padded yellow">
		<ul>{% for object in object_list %}
			<li><a href="{{ object.id }}/">{{ object }}</a> ({{ object.user_set.all.count }} member{{ object.user_set.all.count|pluralize }})</li>{% endfor %}
		</ul>
	</div>
{% endblock %}
