{% extends "base_auth.html" %}

{% block content %}
	<h3>USER LIST</h3>
	<div class="bordered padded yellow">
		<ul>{% for object in object_list %}{% if object.is_active or user.is_staff %}
			<li><a href="{{ object }}/">{{ object }}</a>{% if not object.is_active %}*{% endif %}{% if user.is_staff and object.get_full_name|length %} ({{ object.get_full_name }}){% endif %}</li>{% endif %}{% endfor %}
		</ul>
	</div>
{% endblock %}
