{% extends "base.html" %}

{% block extra_head %}
<script>
	$(document).ready(function(){
		// your code here
		$("table.upcoming-games").hide();
	});

	function switchBlock (block) {
		$('.upcoming-games').hide();
		$(block).show();
		return false;
	}
</script>
{% endblock %}

{% block page_title %}
{{ block.super }} &#187; Competition
{% endblock %}

{% block breadcrumbs %}
<a href="/">{{ block.super }}</a> &#187; Competition
{% endblock %}

{% block content %}
	<h3>{{ flatpage.title|upper }}</h3>
	<div class="bordered padded yellow">
		{{ flatpage.content|safe }}
	</div>
{% endblock %}
