 <table cellspacing="0" border="0" cellpadding="0" width="660" style="font-size: 12px Arial, Helvetica, sans-serif; margin: 0; border: 5; padding: 0; text-align: left;">
    <tr style="margin: 0; border: 0; padding: 0;">
      <td style="font-size: 12px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; height: 105px;"><img src="{{ STATIC_URL }}images/email/header.jpg" height="105" alt="{{ site.name }}" style="margin: 0; border: 0; padding: 0; vertical-align: top;"></td>
    </tr>

    <tr style="margin: 0; border: 0; padding: 0;">
      <td style="font-size: 12px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; height: 30px;"><img src="{{ STATIC_URL }}images/email/header-bar.jpg" height="30" alt="" style="margin: 0; border: 0; padding: 0; vertical-align: top;"></td>
    </tr>

    <tr style="margin: 0; border: 0; padding: 0;">
      <td style="font-size: 12px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; height: 16px;"><img src="{{ STATIC_URL }}images/email/shadow.jpg" height="16" alt="" style="margin: 0; border: 0; padding: 0; vertical-align: top;"></td>
    </tr>

    <tr style="margin: 0; border: 0; padding: 0;">
      <td style="font-size: 12px; margin: 0; color: #000; background: #fff; border: 0; padding: 5px 20px 10px; font-family: Arial, Helvetica, sans-serif; width: 600px;">
        <h1 style="font-weight: bold; font-size: 1.8em; margin: 0 0 0.8em; line-height: 1.2em;">{{ flatpage.title }}</h1>
{% block content %}{{ flatpage.content|safe }}{% endblock %}
      </td>
    </tr>

    <tr style="margin: 0; border: 0; padding: 0;">
      <td style="font-size: 10px; margin: 0; background: #FFC425; border: 0; padding: 6px 10px; font-family: Arial, Helvetica, sans-serif;">
        <table cellspacing="0" border="0" cellpadding="0" style="font-size: 12px Arial, Helvetica, sans-serif; margin: 0; border: 0; padding: 0; width: 640px;">
          <tr style="margin: 0; border: 0; padding: 0;">
            <td id="links" style="font-size: 10px; margin: 0; border: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; text-align: right;"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
