{% extends "base_events.html" %}

{% block page_title %}
{{ block.super }} &#187; {{ month|date:"F Y" }}
{% endblock %}

{% block breadcrumbs %}
<a href="/">Home</a> &#187; <a href="../..">Event Calendar</a> &#187; {{ month|date:"Y" }} - {{ month|date:"F" }}
{% endblock %}

{% block content %}

	<h3>EVENT CALENDAR
		<div id="calendar-year-select">
			<div>Current selection - <span id="current-year">{{ month|date:"Y" }}</span></div>
			<ul id="calendar-years">
				<li>2011</li>
				<li>2010</li>
				<li>2009</li>
				<li>2008</li>
				<li>2007</li>
			</ul>
		</div>
		<div id="calendar-month-select">
			<div id="current-month">{{ month|date:"F" }}</div>
			<ul id="calendar-months">
				<li>January</li>
				<li>Februrary</li>
				<li>March</li>
				<li>April</li>
				<li>May</li>
				<li>June</li>
				<li>July</li>
				<li>August</li>
				<li>September</li>
				<li>October</li>
				<li>November</li>
				<li>December</li>
			</ul>
		</div>
	</h3>
	<div class="bordered padded-sm yellow">
		<div id="calendar" class="full">
			<ul id="days-header">
				<li>Monday</li>
				<li>Tuesday</li>
				<li>Wednesday</li>
				<li>Thursday</li>
				<li>Friday</li>
				<li class="weekend">Saturday</li>
				<li class="weekend">Sunday</li>
			</ul>
			<ul id="days">{% for day in days %}
				<li{% if day.events.count %} class="event"{% else %}{% if day.is_weekend %} class="weekend"{% endif %}{% endif %}><!a href="{{ day.date.day }}/">{{ day.date|date:"jS" }}</a>{% if day.events.count %}<br /><p><em>{{ day.events.count }} event{{ day.events.count|pluralize }}</em></p>{% endif %}</li>{% endfor %}
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div class="left full">
		<div class="left three-quarter">
			<h4>EVENTS AT A GLANCE : {{ month|date:"F, Y" }}</h4>
			<div class="bordered padded yellow">
				<ul>{% for day in days %}{% if day.events %}
					<li><strong>{{ day.date|date:"D jS" }}:</strong> {% for event in day.events %}{% if not forloop.first %}, {% endif %}{{ event }} ({% if event.is_allday %}All-day{% else %}{{ event.start|time:"fa" }}{% endif %}){% endfor %}</li>{% endif %}{% endfor %}
				</ul>
			</div>
		</div>
		<div class="left quarter">
			<h4>SUBSCRIBE</h4>
			<div class="bordered padded yellow">
				<p><a href="webcal://{{ site }}/events/calendar/"><img src="{{ STATIC_URL }}images/calendar_link.png" alt="webcal" /></a> Subscribe Now</p>
			</div>
		</div>
	</div>

{% endblock %}



{% block extra_head %}
<script type="text/javascript">
/* initialise the events and attributes of the event calendar select
boxes when the document is ready to be manipulated */

var months = new Array();
months["Jan"] = 1;
months["Feb"] = 2;
months["Mar"] = 3;
months["Apr"] = 4;
months["May"] = 5;
months["Jun"] = 6;
months["Jul"] = 7;
months["Aug"] = 8;
months["Sep"] = 9;
months["Oct"] = 10;
months["Nov"] = 11;
months["Dec"] = 12;

jQuery(document).ready(function($) {
	$('#calendar-year-select > ul, #calendar-month-select > ul').css('opacity', 0.8); // set drop down menu opacity to %80
	// toggle visibility (using css 'display') for the year drop down menu
	$('#calendar-year-select').toggle(function() {
		$('#calendar-year-select > ul').show(); //show
	}, function() {
		$('#calendar-year-select > ul').hide(); // hide
	});
	// toggle visibility (using css 'display') for the month drop down menu
	$('#calendar-month-select').toggle(function() {
		$('#calendar-month-select > ul').show(); // show
	}, function() {
		$('#calendar-month-select > ul').hide(); // hide
	});
	$('#calendar-years > li').click(function() {
		$('#current-year').text($(this).text());
		$('#calendar-year-select > ul').hide();
		window.location = '/events/' + $(this).text().substring(0,4) + '/' + months[$('#current-month').text().substring(0,3)] + '/';
	});
	$('#calendar-months > li').click(function() {
		$('#current-month').text($(this).text());
		$('#calendar-month-select > ul').hide();
		window.location = '/events/' + $('#current-year').text() + '/' + months[$(this).text().substring(0,3)] + '/';
	});
});
</script>
{% endblock %}

